[2014-02-04 18:45] ipjohnson opened #3 "Invalid configuration is allowed"
The fluent interface should throw an exception when you try and export a type as an interface that it is not.

For attributes an error should be logged that a type is being exported by an interface it doesn't implement.

[2014-02-05 03:56] #3 closed, assigned to nobody

[2014-02-12 19:57] ipjohnson opened #4 "WithCtorParam methods need UsingValueProvider"
Currently you can't provide an IExportValueProvider to the WithCtorParam methods.

[2014-02-13 18:49] #4 closed, assigned to nobody

[2014-03-13 14:22] kennedyjd opened #5 "Incorrect handling of open generics parameter ordering"
Given:

interface IMulipleParameterGeneric&lt;T1, T2, T3, T4>
{ }

class MultipleParameterGeneric&lt;T4, T3, T2, T1> : IMulipleParameterGeneric&lt;T1, T2, T3, T4>
{ }

When:

using (IContainer container = new Container())
{
  container.AutoRegisterUnknown = false;
  container.Configure(
                    c => c.Export(typeof(MultipleParameterGeneric&lt;,,,>))
                        .As(typeof(I

[2014-03-13 14:34] kennedyjd opened #6 "Incorrect handling of enrichment delegate with generics"
Given:

[code]

When:
using (IContainer container = new Container())
{
  container.AutoRegisterUnknown = false;
  bool called = false;
  container.Configure(
    c => c.Export(typeof(SingleParameter&lt;>))
        .As(typeof(ISingleParameterGeneric&lt;>))
        .EnrichWith((scope, context, injected) =>
        {
            called = true;
            return injected;
        }));

 var item = co

[2014-03-13 14:42] kennedyjd opened #7 "IGenericExportStrategy Feature Request"
On IGenericExportStrategy, instead of simply passing the array of types representing the generic parameters, can you simply pass the exportedType and from that allow the implementation of the interface get the generic parameters?

That way, additional information about the exported type can be obtained (such as ordering, etc.).

This is a feature beyond the bug I recorded, because I need to do som

[2014-03-13 14:50] kennedyjd opened #8 "Feature Request for Fluent Interface"
At present the fluent interfaces do not allow for custom export strategies.  It is hard coded for using either GenericExportStrategy (when  type.GetTypeInfo().IsGenericTypeDefinition) else CompiledInstanceExportStrategy.

It would be very handy to allow external definition of what strategy / ies to be used.

Cheers,

-- Joe

[2014-03-14 20:22] kennedyjd opened #9 "Incorrect handling of open generic constraints"
Given:

[code]

When:

using (IContainer container = new Container())
{
    container.AutoRegisterUnknown = false;
    GenericExportStrategy strategy = new GenericExportStrategy(typeof(GenericWithConstraints&lt;,,,>));
     strategy.AddExportType(typeof(IMulipleParameterGeneric&lt;,,,>));

[code]

}

Then it should return a null item.  An exception is being thrown because it could not create a typ

[2014-03-21 20:58] #9 closed, assigned to ipjohnson

[2014-03-21 20:59] #6 closed, assigned to ipjohnson

[2014-03-21 21:00] #7 closed, assigned to ipjohnson

[2014-03-21 21:01] #5 closed, assigned to ipjohnson

[2014-04-09 13:31] kennedyjd opened #10 "Static ctor used in DI container constructed objects"
Hello Ian,

Ran into an issue where, when registering a type that has a static ctor overload with multiple parameters (more parameters than an instance ctor), the static ctor will get called.

As well, there does not seem to be any tie breaker logic, when two ctors have the same large number of arguments it's basically first one in wins (based on reflection).

Obviously, a work around for this is

[2014-04-09 18:52] ipjohnson opened #11 "Debugger View Enhancements"
- ExportsByType - Types should be sorted alphabetical
- ExportsByName - sorted alphabetically by name
- Exports - Improve the display so it only shows the name of the export rather than "Export | TypeName"
- Possible Missing Dependencies - Improve the display so it doesn't say "Missing Depedency | Type"

These are merely cosmetic things but it should make it easier to work with

[2014-04-10 00:20] #10 closed, assigned to ipjohnson

[2014-04-10 00:23] ipjohnson opened #12 "Custom Constructor Picker"
It would be a nice feature to be able to change the logic out for picking which constructor to use when exporting.

This type of feature is interesting but hard to implement till a major re-write happens to allow for different parts to be substituted. Also enhancements need to be made to the export model to allow for smarter decision making.

[2014-04-10 02:35] #11 closed, assigned to ipjohnson

[2014-04-14 17:17] ipjohnson opened #13 "Wrong Parameter name in Missing Dependency Exception"
Looking at the error message for the MissingDependencyException the parameter name is incorrect. It's showing the last parameter name instead of the first.

The type is correct but the name is incorrect making it confusing.

[2014-04-15 17:29] #13 closed, assigned to nobody

[2014-05-06 02:06] ipjohnson opened #15 "Universal App Support"
To help support development on the new Universal app platform I'd like to create a new build target for Profile 151

This should just be a matter up of updating the nuget profile

[2014-05-18 14:09] #15 closed, assigned to nobody

[2014-07-24 13:22] ipjohnson opened #16 "VSIX installer broken"
The vsix installer in the nightly build isn't setting the package versions properly.

[2014-10-11 18:53] prasannavl opened #17 "Service locator pattern implementation"
Is this on the cards? Just an implementation of the Microsoft.Patters.IServiceLocator, so that it be used as a drop in replacements into projects that utilize them.

[2014-10-28 13:39] ipjohnson opened #20 "Grace returns null when no export found"
Currently Grace will return a null from Locate if there is no export found. This behavior should be changed to throw an Exception. Also a TryLocate method needs to be added

[2014-10-28 13:42] ipjohnson opened #21 "Get rid of named exports"
Currently there is an idea of "Named" exports which are untyped and known by a string name only. This idea has out lived it's time as keyed exports are now supported. To clean up the api they should be removed.

[2014-10-28 13:45] ipjohnson opened #22 "Handle Primitives better"
Currently primitives are handled as "Named" exports that are untyped. While this is an interesting implementation it's not standard and confusing to explain. In version three primitives and strings will be resolved by type and the handler will be able to look at the injection context to know what value to return (looking at parameter/property info)

[2014-10-28 13:52] ipjohnson opened #23 "Move Mocking Libraries"
Currently there are three mocking libraries located in the Grace project (Moq, NSubstitute, FakeItEasy). They will be moved to another github project I'm going to publish Graceful Testing (moqing and test generator framework). This will allow Grace to focus more on being a DI framework

[2014-11-11 06:27] CodingNemesis opened #24 "Exception while initializing DependencyInjectionContainer on Xamarin.iOS"
Grace working fine on Xamarin.Android, but on Xamarin.iOS, I am getting a TypeInitializationException from the constructor when creating DependencyInjectionContainer.

System.TypeInitializationException: An exception was thrown by the type initializer for Grace.DependencyInjection.Impl.InjectionKernel ---> System.Exception: Sequence contains no matching element
  at System.Linq.Enumerable.First[Me

[2014-11-21 00:21] #17 closed, assigned to nobody

[2014-12-02 23:13] KJee85 opened #25 "Singleton Question"
I had a question about some behavior I want to achieve and if there is a supported way the container can handle it.

Basically we have a VM that has sort of two cases, when accessed form our main page its a "fresh start" and in another flow we actually want to keep the data around. The way this was being achieved was by declaring the relevant properties static and in the case of a fresh start re-i

[2014-12-16 17:54] prasannavl opened #26 "Keyed resolution over-rides Non-keyed."
class Program
    {
        private static int _i;

        public static int i
        {
            get {
                _i++; return _i;
            }
            set { _i = value; }
        }

        static void Main(string[] args)
        {
            var c = new DependencyInjectionContainer();
            c.Configure(x =>
            {
                x.ExportInstance<string>((s, cx) => "

[2014-12-17 03:37] #25 closed, assigned to nobody

[2015-01-23 12:05] prasannavl opened #27 "A way to find out if a singleton was resolved"
Hi, I was wondering if there was anyway to figure out if a registered singleton was resolved (thereby already created) without using `Locate<TheSingleton>`, since that would create it if it doesn't exist already.

My scenario is that, I'm trying to update the a few services in runtime. So, I have to update the services that already may have been resolved, which would have it as a dependency. But I

[2015-01-23 12:21] prasannavl commented on #27
Also, is there anyway to re-resolve a singleton, without resorting to never resolving directly and using a Func?

[2015-01-23 12:56] prasannavl commented on #27
Alright, just went through the source. As I understand it, they are in the stored in the corresponding ILifetime. I suppose simply re-configuring should do the trick?

[2015-01-23 16:20] ipjohnson commented on #27
Hi Prasanna,

I'll write up a more detailed reply this evening but quickly to answer your question yes all the logic is in the ILifestyle interface. Also check out the GetStrategy method it will locate an export without instantiating it.

-Ian

Sent from my iPhone

[2015-01-24 03:07] ipjohnson commented on #27
So to answer your question a little more in depth the GetStrategy method returns an IExportStrategy. The Lifestyle property will contain an ILifestyle that controls how instances are created & returned.

Currently there isn't any way to tell if an instance has been created or to clear an instances that exists. This has been asked for a couple time so I think I'll implement something like

public i

[2015-01-24 03:26] prasannavl commented on #27
Thank you Ian.

This has been very helpful. And yes, I think a HasInstance property that returns the result of the null check should be perfect. But I wonder, instead of having a release, is there any particular reason why the Lifestyle property doesn't have a setter in IExportStrategy? From my (non-thorough) glance, I realized, the lifestyle property does go through rigorous checks where ever it

[2015-01-24 03:43] ipjohnson commented on #27
I think it's less of a technical reason and more of a philosophical. The over whelming common use case is to maintain the same lifestyle through the life time of the container. Giving an easy way to change the lifestyle implies similar behavior for all lifestyles (that they can be disposed and swapped). This works well for singleton lifestyles but not nearly as well for other lifestyles like poole

[2015-01-24 03:48] prasannavl commented on #27
Makes sense. I didn't realize it has a configurable type in its inheritance tree. Yes, creating a custom lifestyle seems to be a cleaner way. But for quick hacks, casting covers. This is very neat!

Graceful, indeed. :)

[2015-01-24 03:56] ipjohnson commented on #27
Thanks, it's one of those features I don't advertise mainly because it's getting more into the guts of the container. Very useful but something most people don't need and is more of an advanced topic.

[2015-07-15 05:54] prasannavl opened #28 "Asp.Net vNext Support"
Support for Asp.Net vNext?

Has to do automatic re-population from `IServiceCollection`, and then require both a new `ScopeProvider` and `IServiceProvider` implementation.

[2015-07-15 15:36] ipjohnson commented on #28
Hi prasanna,

I played with vNext a while back and did create a nuget package for it here. https://github.com/ipjohnson/DependencyInjection

Once the final release comes out later this month I'll see about doing a finalized release.

That being said I'm in the middle of buying a house so I won't have much time for the next month.

Are you looking to start a project soon?

-Ian

[2015-07-15 15:41] prasannavl commented on #28
This looks good. I can work with that. Shall contribute back, should I run into any problems, or unfinished issues.

Thanks!

Sent by Outlook for Android

On Wed, Jul 15, 2015 at 8:36 AM -0700, "Ian Johnson" <notifications@github.com> wrote:
Hi prasanna,

I played with vNext a while back and did create a nuget package for it here. https://github.com/ipjohnson/DependencyInjection

Once the final re

[2015-07-15 15:44] ipjohnson commented on #28
My hope was that at some point they would be putting out a nuget package with everything in it so all that would need to be done is reference the correct package rather than having to have the code in a clone of their repository. I don't know if they ever got around to it.

It probably has a couple issues as it's almost a year out of date, that being said I don't think they changed it that much.

[2015-09-21 12:48] breyed opened #29 "Visual Studio Templates link is broken"
The Visual Studio Templates link in the README is broken. To repro, follow the link in a private browsing session.

[2015-09-23 00:18] ipjohnson commented on #29
Hi Breyed,

I think moving forward I'm going to drop support for custom templates. Templates that were there were for MVC 4 and trying to keep pace with Microsoft and all their templates is really a futile effort.

Out of curiosity was there a particular type of project you were looking for?

[2015-09-23 00:24] ipjohnson commented on #29
For some reason MS decided to lock out the templates. Not really sure why. I'll update this item when I learn more. For the moment I'll remove it from the readme

[2015-09-25 00:46] davidkeaveny opened #30 "Unhelpful error message when registering types"
I am using the fluent configuration in an ASP.NET WebForms application to register a number of types from multiple assemblies, something like this:

[code]

where `.Register(string)` is an extension method that I've added that uses `Types.FromDirectory` to scan for a particular set of assemblies. When the configure block runs, it throw the following error:

[code]

I've used identical registration

[2015-09-25 01:03] ipjohnson commented on #30
Hi David,

Sorry that Grace didn't provide enough debugging information. It does a good job of returning a good message when requesting types but not very good when the error happens in a registration block.

That being said I think something is going wrong with trying to inject a nullable int or something around that (not totally sure). Either way I wouldn't think it should fail like that.

Would

[2016-04-14 16:22] ipjohnson opened #31 "Add ImportAttributedMembers support to Export(IEnumerable<Type>)"
Currently Export<T> supports the ability to import any attributed member. This functionality should be added to Export(IEnumerable<T>)

[2016-04-14 16:27] ipjohnson opened #32 "Add ImportMemembers feature"
It would be nice to import members generically based on type or attribute or even name. Suggesting adding the following methods.

Export<T>().ImportMembers(MembersThat.HaveAttribute<SomeAttribute>());

Export(IEnumerable<Type>).ImportMembers(MembersThat.HaveAttribute<SomeAttribute>());

[2016-04-14 17:56] dadhi commented on #32
Hey, hello!

You'd returned to work on Grace :)

[2016-04-14 18:22] ipjohnson commented on #32
Hey long time no see, Yeah I've been using Grace all along I just haven't needed any new features so I have done a release in a while.

That said I need a couple new features now so I'm looking at putting together a 3.0 release in the next coming weeks.

[2016-04-19 18:31] #24 closed

[2016-04-19 18:34] ipjohnson commented on #30
I never heard back about this issue so I'm marking it as closed

[2016-04-19 18:34] #30 closed

[2016-04-20 00:18] ipjohnson commented on #27
I'm going to mark this as closed

[2016-04-20 00:18] #27 closed

[2016-04-20 00:19] ipjohnson commented on #29
Marking as closed.

[2016-04-20 00:19] #29 closed

[2016-04-20 00:21] ipjohnson commented on #23
Ultimately decided that grace was not a good fit for using as a unit test fixture. I ended up creating a simpler more light weight implementation which can be found here:

https://github.com/ipjohnson/SimpleFixture

[2016-04-20 00:21] #23 closed

[2016-04-20 02:05] ipjohnson commented on #26
I've just released version 3.0.0 and this is included.

[2016-04-20 02:05] #26 closed

[2016-04-20 02:06] ipjohnson commented on #32
This is completed and included in version 3.0.0

[2016-04-20 02:06] #32 closed

[2016-04-20 02:06] ipjohnson commented on #31
This is completed and included in version 3.0.0

[2016-04-20 02:06] #31 closed

[2016-04-20 02:08] ipjohnson commented on #21
Putting this on hold indefinitely

[2016-04-20 02:08] #21 closed

[2016-04-20 02:08] ipjohnson commented on #22
Putting this on hold

[2016-04-20 02:08] #22 closed

[2016-04-20 02:10] ipjohnson commented on #20
This feature is really geared for MVC 6. Once it's released I'll revisit it and see if it's still needed

[2016-04-20 02:11] ipjohnson commented on #16
I'm no longer going to support vs templates as it's easy to add through nuget

[2016-04-20 02:11] #16 closed

[2016-04-26 15:44] ipjohnson opened #33 "Add EnrichWith<TExport> method"
Currently you can only enrich with a a non generic EnrichWithDelegate that takes an object. It would be very useful to operate on a properly typed instance so it doesn't have to be cast.

[2016-04-26 16:59] ipjohnson opened #34 "Add Apply and Apply<T> methods"
It would be nice to be able to apply logic to the activation process without having to return the instance like EnrichWith

[2016-05-08 03:13] ipjohnson commented on #33
This has been released as of 3.0.1

[2016-05-08 03:13] #33 closed

[2016-05-08 03:13] ipjohnson commented on #34
This has been released in 3.0.1

[2016-05-08 03:13] #34 closed

[2016-05-08 16:33] ipjohnson opened #35 "Add default parameter support"
When importing into constructors it would be useful to support default parameters. That way if a parameter has a default it will be used is something can't be located.

[2016-05-08 16:38] ipjohnson commented on #35
While implementing this I'll be adding a DefaultValue method to constructor & property imports

[2016-05-13 01:54] ipjohnson commented on #35
This is released in version 3.1.0

[2016-05-13 01:54] #35 closed

[2016-05-22 14:09] ipjohnson opened #36 "Bug in export by name"
When returning null for export by name it causes a null reference exception. As this is a picker it's completely reasonable to return null.

[2016-06-06 13:19] ipjohnson commented on #36
This has been released as part of 3.1.2

[2016-06-06 13:19] #36 closed

[2016-06-14 19:13] ipjohnson opened #37 "Update example app"
There are some examples that are out of date, specifically the multiple constructors as it does best match now.

[2016-06-14 19:28] ipjohnson opened #38 "Change logic for sorting Exports"
Most people are not using priorities for sorting multiple exports, it would be good to keep the registration order the same when all priorities are the same.

This is to support the RegistrationOrderIsPreservedWhenServicesAreIEnumerableResolved test for MVC 6 DI containers.

[2016-06-16 03:04] ipjohnson commented on #28
This has been released as a separate package located at https://github.com/ipjohnson/Grace.DependencyInjection.Extensions

[2016-06-16 03:04] #28 closed

[2016-06-16 03:17] ipjohnson commented on #20
This has been implemented as part of 4.0

[2016-06-16 03:18] ipjohnson commented on #8
This has been completed and will be released as part of 4.0

[2016-06-28 17:27] ipjohnson opened #39 "Exception message not being generated properly"
Currently the CannotLocateExportException class does not generate a nice exception message. This needs to be fixed as well as looking at the rest of the exceptions to make sure the message that is generated is helpful.

[2016-06-28 17:27] ipjohnson commented on #38
This has been released

[2016-06-28 17:27] #38 closed

[2016-06-28 17:28] #8 closed

[2016-06-28 17:28] ipjohnson commented on #12
This has been released as part of 4.0

[2016-06-28 17:28] #12 closed

[2016-06-28 17:28] #20 closed

[2016-06-28 23:19] kennedyjd opened #40 "Compatibility with .NET Core"
Hey Ian,

As .NET Core 1.0 has been released (see http://www.theregister.co.uk/2016/06/28/microsoft_releases_crossplatform_net_core_10_at_linux_event/), how about upgrading to support it?

I did the port myself and it only took a couple of hours.  I've asked our lawyer folks if I can send a .zip of what I did to you (which does not incorporate your latest) and am waiting on their response.

FWIW,

[2016-06-28 23:38] ipjohnson commented on #40
Hi Joe,

I've released a ASP.Net Core adapter [Here](https://github.com/ipjohnson/Grace.DependencyInjection.Extensions) and a companion library [Here](https://www.nuget.org/packages/Grace.AspNetCore.MVC/) that provides a controller activator and view activator (as well as supports [FromQuery] attributes for all DI). I'm using just starting a new ASP.Net core project at work so better support is on

[2016-06-29 01:29] kennedyjd commented on #40
Hey Ian,

As memory serves, everything went over pretty easily (there was a little changing due to changes in the .NET APIs), but nothing terribly dramatic.

Either way, I'm happy to lend a hand if needed / desired.  I'll let you know next week what they say.

Cheers,

-- Joe

[2016-06-29 01:41] ipjohnson commented on #40
Sounds good, at the moment I'm merging in the 4.0 branch and I'll create a 5.0 branch to begin the work.

[2016-06-29 14:37] ipjohnson commented on #39
This is resolved in 4.0.1

[2016-06-29 14:37] #39 closed

[2016-06-29 15:00] ipjohnson opened #42 "Add Type filter to ExportAssembly methods"
It would be nice if the ExportAssembly methods would take a `Func<Type,bool>` method to allow for filtering. At this moment in time you have to do a Select which works but isn't as intuitive (took me a little bit to remember how to do it).

[2016-06-29 21:40] ipjohnson opened #43 "BeginLifetimeScope resolve multiple problem"
When resolving any type of IEnumerable<T> from a lifetime scope you get N extra copies where N is the number of lifetime scopes you have.

LifetimeScope.GetStrategyCollection needs to return null instead of forwarding the call to it's parent scope.

[2016-06-29 22:13] ipjohnson commented on #43
[Fact]
        public void BeginLifetimeScopeReturnsCorrectNumberForIEnumerable()
        {
            DependencyInjectionContainer container = new DependencyInjectionContainer();

            container.Configure(c => c.Export<DisposableService>().As<IDisposableService>().Lifestyle.SingletonPerScope());

            bool called = false;

            using (var scope = container.BeginLifetimeScope

[2016-06-30 01:48] ipjohnson commented on #43
Fixed in release 4.0.2

[2016-06-30 01:48] #43 closed

[2016-06-30 12:30] ipjohnson opened #44 "Add the idea of TryAs(Type, out bool success)"
[code]
Only exports BasicService if no other IBasicService exist.

Also need to add a TryByInterface and TryByInterfaces to ExportTypeSetConfiguration

[2016-07-12 12:54] ipjohnson commented on #40
After doing a little research changing to be a .netstandard library has some bigger implications than I first realized. Mainly that PCL libraries can't reference .netstandard libraries. As Grace is a DI container it's probably not referenced directly by these libraries it's still a breaking change.

With that in mind I think I'm going to make a 4.0 branch and make the mainline be the future develo

[2016-07-18 19:22] ipjohnson opened #45 "Best constructor algorithm should take into account IInjectionScope and other container interfaces"
Currently when picking the best constructor it looks like IInjectionScope and other container interface that aren't registered are considered missing, this is incorrect as they will resolve

[2016-07-18 19:24] ipjohnson opened #46 "Add option to lowercase property names ReflectionService.GetPropertiesFromObject"
To help improve usability it would be good to have an option to lowercase or uppercase property names to avoid casing issues.

[2016-10-11 18:29] ipjohnson opened #47 "Add support for custom wrappers"
Wrappers are classes like `Func<>` and `Meta<>` they are not exports themselves but rather are intended to wrap exports. For example when you resolve `IEnumerable<Func<ISomeExport>>` it will return as many entries as ISomeExport registrations.

It would be good to support custom wrappers.

[2016-10-11 18:32] ipjohnson opened #48 "Add support for decorator pattern"
[Decorator patter](https://en.wikipedia.org/wiki/Decorator_pattern)

The container should support exporting decorators and applying them when decorated types are located.

[2016-10-11 18:32] ipjohnson commented on #45
This is fixed in version 5.0

[2016-10-11 18:32] #45 closed

[2016-11-27 19:54] ipjohnson commented on #40
Hi Joe,

I've released a beta version of Grace 5.0. It's a ground up re-write so some features haven't been included (runtime support for conditions) but I'm willing to bring back most everything if people are using it or have real use cases. The code is located in the 5.0 branch and builds are going on appveyor.

Out of the box it targets .Net 4.5, .Net Standard 1.0 and PCL Profile 259.

New Feat

[2016-12-12 19:31] ipjohnson opened #49 "IExportLocatorScope & ILocatorScope not resolving in 5.0"
Currently IExportLocatorScope and ILocatorScope can be resolved as a dependency of a type but not from the scope directly.

This needs to be addressed for 5.0 release

[2016-12-13 02:02] ipjohnson commented on #49
This has been addressed in version 5

[2016-12-13 02:02] #49 closed

[2016-12-14 17:50] ipjohnson opened #50 "Adding TargetName for TargetInfo"
It would be nice to have the TargetName for the target info to go along with target type.

[2017-01-24 16:40] ipjohnson commented on #50
Completed as part of 5.0

[2017-01-24 16:40] #50 closed

[2017-01-24 16:40] ipjohnson commented on #48
Support added in 5.0

[2017-01-24 16:40] #48 closed

[2017-01-24 16:40] ipjohnson commented on #47
Supported in 5.0

[2017-01-24 16:40] #47 closed

[2017-01-24 16:41] ipjohnson commented on #40
This has been released as part of 5.0

[2017-01-24 16:41] #40 closed

[2017-01-25 01:46] ipjohnson opened #54 "Recursive exception message enhancement"
For long message the exception should drop out ~1/2 of the entries

[2017-01-29 16:47] ipjohnson opened #55 "Property and Parameter names should be case invariant"
Currently property and parameter names are matched using casing. It would be better to be case invariant to make things easier. Example below should work

[code]

[2017-01-29 18:20] #46 closed

[2017-01-29 18:20] #55 closed

[2017-01-29 18:21] ipjohnson commented on #37
Example app has been superseded by unit tests

[2017-01-29 18:21] #37 closed

[2017-02-03 00:47] ipjohnson opened #56 "Add IExportLocatorScope.Inject"
In previous version of Grace there was an Inject method that would inject attributed properties and methods on any type.

This functionality is useful and should be added back

[2017-02-04 21:17] ipjohnson commented on #56
this has been implemented

[2017-02-04 21:17] #56 closed

[2017-02-11 00:32] ipjohnson opened #57 "Add option to turn off disposable transient tracking"
To help support different scenarios it would be helpful to turn off disposable transient tracking for a container.

This will flag will apply to the root scope and all child scopes.

Default will still be to track transients still

[2017-02-11 00:38] ipjohnson opened #58 "Add flag to mark lifestyle as transient, scoped, singleton"
Currently lifestyles are treated the same across the board. For lifestyles like per object graph and per ancestor they are effectively transients and should be treated as such for situation like issue #57

[code]

[2017-02-11 13:51] ipjohnson opened #59 "Fix typo in method name"
ICompiledLifestyle.ProvideLifestlyExpression should be
ICompiledLifestyle.ProvideLifestyleExpression

[2017-02-11 14:34] #59 closed

[2017-02-11 14:42] #58 closed

[2017-02-11 16:12] #57 closed

[2017-02-11 17:27] ipjohnson opened #60 "Add Resolve time conditions"
Currently conditions are evaluated one time when the activation delegate is created.

It would be good to offer a new type of condition that would be evaluated at request time rather than at the time the delegate get created.

This would help support use cases like using different dependencies based on being online/offline etc.

[2017-02-12 14:01] #54 closed

[2017-02-12 15:27] ipjohnson opened #61 "Add conditions for decorators"
Adding conditions for decorators should be relatively easy. They will only support compile time conditions not request time conditions.

[2017-02-12 16:50] #61 closed

[2017-02-12 21:03] ipjohnson commented on #60
After looking at this some more I think this functionality will be hard to implement and can easily be substituted by doing a custom Factory.

I'm going to close as not going to implement at this time.

If someone is interested in it contact me and we can talk about it.

[2017-02-12 21:03] #60 closed

[2017-02-12 21:22] ipjohnson opened #62 "Add support for Func<Type,object>"
Add support for resolving `Func<Type,object>` this should return a func that executes scope.Locate(Type)

[2017-02-12 23:02] #62 closed

[2017-02-12 23:07] ipjohnson opened #63 "Add check scope extra data"
Currently when a type can not be located the IInjectionContext will be checked to see if it can be resolved. Expanding this to IExportLocatorScope allows the lifetime scope to be used in even more complex scenarios.

I see the use case as providing simple keyed values (string, int, etc)

[2017-02-12 23:09] #63 closed

[2017-02-12 23:15] ipjohnson commented on #63
[code]

[2017-02-15 20:26] ipjohnson opened #64 "Add Use method to WithCtorParam interface"
It would be useful to be able to specify a type to use for a constructor parameter.

[code]

This will be implemented for both generic and non generic Export interface

[2017-02-16 01:40] ipjohnson commented on #64
This is fixed

[2017-02-16 01:40] #64 closed

[2017-02-17 15:09] ipjohnson opened #65 "Add WithCtorParam for decorator"
Adding this feature will allow greater control over decorator constructor

[2017-02-20 09:13] HamedMousavi opened #66 "WithCtorParam in InterceptExtensions"
Trying interceptor I looked at your test code to figure how it works. Apparently we need to create an extension method called Intercept which is used in this test: https://github.com/ipjohnson/Grace/blob/b7869f21b8a4faaac2ca3c731bc0e5dcce5882f4/tests/Grace.Tests/DependencyInjection/Intercept/InterceptionExtensions.cs#L11

After copying this class to the solution I encountered this error: 'IFluentD

[2017-02-20 13:33] ipjohnson commented on #66
Hi Hamed,

Sorry about that decorators were a new feature for 5.0 and didn't support WithCtorParam at initial release. For 5.1.0 I'm adding WithCtorParam support for decorators and that test is new.

As luck would have it I'm releasing 5.1.0 today. I'll leave a comment once I've done the release and you can tell me how it works for you.

[2017-02-20 13:40] ipjohnson commented on #66
Just to give you a little more background. Support for interceptors in 4.0 & 5.0 weren't fully supported and required a function to be provided at registration time to create the proxy. This was really slow so I created issue #65 to add WithCtorParam support allowing greater control over decorator construction making interception easier and more performant (~8x).

[2017-02-20 13:51] ipjohnson commented on #65
This is implemented as of 5.1.0

[2017-02-20 13:51] #65 closed

[2017-02-20 14:31] ipjohnson commented on #66
I just released 5.1.0, try it now.

[2017-02-20 18:44] HamedMousavi commented on #66
THANK YOU SO MUCH!

This now works perfectly fine, thank you.

Just a minor problem, I guess. If I create the wrapping class (in the test example: Calculator) as Singleton and then create an interceptor (also as singleton) I run into this runtime error:  "Grace.DependencyInjection.Exceptions.RecursiveLocateException: 'Recursive object graph detected"
I don't need the wrapped class to be Singleton

[2017-02-20 18:46] #66 closed

[2017-02-20 19:07] ipjohnson commented on #66
Interesting I hadn't tried that but does sound like a problem as you should be able to decorate a singleton like that. I'll open a new defect and track that.

Thanks for the compliment.

[2017-02-20 20:07] ipjohnson opened #67 "Decorated singleton causes recursive exception"
This should work so that you can wrap singletons with decorators.

[code]

This was mentioned in issue #66

[2017-02-20 21:11] #67 closed

[2017-02-21 17:28] ipjohnson opened #68 "Change return type on ImportMember"
Currently the `ImportMember<T>` extension has a void return type. I found myself wanting to chain them together so it would be nice to change the return type to `IExportRegistrationBlock`

[2017-02-22 13:14] #68 closed

[2017-03-08 01:31] ipjohnson opened #69 "Weird object null reference"
Ran into a situation where GetAttributes(true) actually returned a null instead of an empty string on the .net core platform (it was a generated type using DefineType).

To accommodate weird scenario like that it should be easy enough to put a ? after the GetAttributes call

[2017-03-08 01:33] #69 closed

[2017-03-09 21:05] RandomEngy opened #70 "Strong name signing assemblies?"
We want our project to output strong named assemblies, but to do that all our references need to be strong-named as well. Can you strong-name sign the Grace assemblies? [The documentation](https://msdn.microsoft.com/en-us/library/wd40t7ad(v=vs.110).aspx) says you could even check in the private key in source control if you wanted.

[2017-03-09 22:40] ipjohnson commented on #70
Hi Random

After reading up a little bit I think it should be pretty easy for me to sign it and get it into the build. I'll make the change in the next day or two and push a Beta build (probably 5.2.0-Beta*) to nuget for some testing.

-Ian

[2017-03-09 22:43] RandomEngy commented on #70
Thanks!

[2017-03-10 01:07] ipjohnson commented on #70
Ok so I've signed Grace and all the Grace.* assemblies and pushed beta versions to nuget (5.2.0-Beta*).

Give it a whirl and let me know. I'll probably look to do a release in the next week.

[2017-03-10 17:09] RandomEngy commented on #70
Works great, thanks!

[2017-03-12 15:56] ipjohnson opened #71 "Add Name support"
In previous versions there was an option to export and locate by name. I have a use case where this would be useful in a MVVM framework.

[2017-03-12 18:31] dadhi commented on #71
Welcome to cross-cutting complexity :-)

[2017-03-12 18:58] ipjohnson commented on #71
As Grace came from my MVVM framework and always supported this feature it's not so much "Welcome to cross-cutting complexity" as much as bringing back a feature that was left out for 5.0.

[2017-03-12 19:40] ipjohnson commented on #71
@dadhi while you are right here I'll ask you an opinion question. I'm going to beginning signing Grace so the reference would change. For semantic versioning purposes am I ok to go from 5.1 -> 5.2 or does it need to roll to 6.0?

[2017-03-12 20:06] dadhi commented on #71
Shaky topic. But why did you consider to sign? You may provide snk file and there are tools like [StrongNamer](https://github.com/dsplaisted/strongnamer) here.

[2017-03-12 20:16] ipjohnson commented on #71
I had a request for it and after looking at what MS is doing with their open source projects and Autofac is doing it seems like there is no harm in signing it. Combine that with how easy it was to just put the snk file in and sign I figured it was a worth while change.

[2017-03-26 20:29] ipjohnson commented on #70
I've released version 6.0.0 that's signed (decided it made sense to up major version).

[2017-03-26 20:30] ipjohnson commented on #71
This is implemented in versin 6.0.0

[2017-03-26 20:30] #71 closed

[2017-03-27 15:11] ipjohnson opened #72 "Move away from Guid.NewGuid().ToString() for unique string id"
While Guid.NewGuid does generate a completely unique id, it's 36 characters long. This makes hashing and equality comparisons take longer.

The reality is we only need uniqueness within the process space and make a good faith effort to avoid collisions with user saved extra data.

With that in mind I'm going to introduce the following class that will generate unique id's that are 4characters + N (

[2017-03-27 17:53] RandomEngy opened #73 "Package install fails for Xamarin Android project in VS 2017"
When trying to add Grace 6.0.0 to a Xamarin Android project in VS 2017, I get this error:

I was also getting this error in 5.1.0.

[2017-03-27 17:53] #70 closed

[2017-03-27 18:07] ipjohnson commented on #73
Sorry about that I'll take a look at it this evening, I was trying to list only the dependencies the package needed and apparently didn't come up with a set that works for everything.

There shouldn't be anything that's not supported so it should just be a matter of picking the correct target and dependencies to publish with.

Just so I have another package to look at do you have any other nuget p

[2017-03-27 18:51] RandomEngy commented on #73
https://github.com/dsplaisted/PCLStorage
https://www.nuget.org/packages/Xam.Plugin.Connectivity/

These are a couple that I use with Xamarin targets.

[2017-03-27 19:09] ipjohnson commented on #73
Perfect thanks. I'm getting 2017 installed right now so I can test it out. Hopefully it's really just a matter of targeting MonoAndriod in the project.json file.

[2017-03-27 22:25] ipjohnson commented on #73
Ok looks like it was much easier than I originally thought. The PCL profile 259 target was being picked up instead of the .net standard 1.0.

I've deleted the profile 259 target and released a beta to nuget. I was able to create a android project in VS 2017, added Grace, and was able to export and locate an instance.

[2017-03-28 16:47] RandomEngy commented on #73
Looks like the new version works, thanks!

[2017-03-28 16:47] #73 closed

[2017-03-28 17:02] ipjohnson commented on #73
Thanks I try and be responsive as I'm on the other end of things sometimes.

I'll probably roll out a 6.0.1 final release this weekend along side some performance tweaks for ASP.Net core support.

[2017-03-31 15:46] ipjohnson commented on #72
This is complete. The final implementation looks like this

[code]

[2017-03-31 15:46] #72 closed

[2017-04-01 15:17] ipjohnson opened #74 "Return null from factory"
Currently null is not an allowed value to be returned from a factory (unless you turn it off for the container). It would be useful to allow the returning of null when it's not required or has a default value.

[2017-04-21 23:23] ipjohnson opened #75 "Convert to VS 2017"
xproj has been deprecated and replaced with csproj. It's time to upgrade to 2017 and upgrade the build process

[2017-04-23 13:17] ipjohnson opened #76 "simplify unique id creation"
UniqueStringId.Create() needs to generate simple repeatable id's that aren't random (like they currently are).

Now all grace id's will be in the form "*-gN" where N is an ever increment number (or at least for the first 2 billion ids)

[2017-04-27 15:11] ipjohnson opened #77 "Add lifestyles for concrete types"
Currently all concrete types that are auto registered by the container are assumed to be transient. It would be nice to be able to provide a `Func<Type,ICompiledLifeStyle>` delegate that allows the user to provide lifestyles for concrete types.

An example implementation could be

[code]

[2017-04-29 14:24] darkcamper opened #78 "Improve support passing for constructor arguments to Resolve()"
Hi! I was looking for a replacement for Ninject compatible with ASP Net Core and came across Grace.

I found it really appealing because it has nice features from Autofac such as lightweight lifetime scopes and the contextual injection I like so much from Ninject (and it's alive!). While I was writing some tests to learn how to do the same things I do with other DI containers I reached a dead end

[2017-04-29 15:02] ipjohnson commented on #78
Hi darkcamper,

Glad you like Grace. Part of what makes Grace so performant is that it picks one constructor upfront and then uses it. So in the case where you have multiple constructors there isn't currently a way to construct a type many different ways based on what's in the constructor.

I'd be open to offer a new ConstructorSelectionMethod that is based on what's available in the context in th

[2017-04-29 17:38] ipjohnson opened #79 "Add option to configure constructor selection for individual exports"
Add methods
[code]

Relates to issue #78

[2017-04-29 20:46] ipjohnson commented on #78
After thinking about it some more I think I can support both the dynamic constructor scenario and the NInject IConstructorArgument idea without having to change any of the fundamentals of the containers.

The idea will be to add the selection method `ConstructorSelectionMethod.Dynamic` then the linq code generation will look something similar to

[code]

The idea of IConstructorArgument becomes ea

[2017-04-30 09:06] darkcamper commented on #78
Sounds like a nice solution. In this way you have fine-grained control between the performant old constructor selection and the new dynamic selector at all levels (container, exports...).

As for the beta testing, count me in! I'd be really happy to help you improve Grace.

Btw, as you'll be adding another member to ConstructorSelectionMethod enum, maybe it could be a good time to extract construc

[2017-04-30 13:44] ipjohnson commented on #78
I was thinking the same thing on making an interface to abstract it out, the place where I'm a little stuck is that having the enum ConstructorSelectionMethod is a little constricting. I'm thinking ultimately it should be an int that way you could have more than one 'exotic' constructor methods and I can get rid of Other.

This is what it would look like registering a custom constructor selection

[2017-04-30 23:30] darkcamper commented on #78
I think I'd go for a direct usage of the ConstructorExpressionCreator instances instead of continuing using the enum or including any kind of registration. You can always provide a "DefaultConstructorExpressionCreators" class with public properties containing the implementations of the provided constructor selector strategies (less parameters, most parameters, best fit dynamic). You could then use

[2017-05-01 12:48] ipjohnson commented on #78
That seems reasonable I think I'll go that way and convert the current Enum to a static class with properties that match the enum names. That way when existing codebases are upgraded there is no change needed.

[2017-05-03 14:31] ipjohnson opened #80 "Add property injection support for Dynamic constructor selection"
Currently property injection is only supported if the constructor expression is a New linq expression, this needs to be expanded to support property injection for scenarios where the construction expression is not a New (in the case of dynamic the expression is a invoke func)

This needs to be completed for issue #78

[2017-05-03 14:42] ipjohnson commented on #78
@darkcamper I'm thinking of breaking this work up into two sections

* Add Dynamic constructor selection method
* Add 'TypeMatchingConstructorArgument'

I've got the implementation for the first part nearly complete and I'm looking to put out a beta this weekend with the support added.

The second part I'd like to hold off on for a bit to see if extra data + Dynamic constructor selection suites yo

[2017-05-03 15:31] darkcamper commented on #78
@ipjohnson Sure. Besides it will be easier to test each functionallity individually.

[2017-05-07 15:45] ipjohnson commented on #78
@darkcamper I've pushed a Beta version that contains the new Dynamic constructor selection.

[code]
I need to add some more tests but these are the [tests](https://github.com/ipjohnson/Grace/blob/master/tests/Grace.Tests/DependencyInjection/ConstructorSelection/DynamicSelectionTests.cs) I've got so far.

[2017-05-07 20:11] darkcamper commented on #78
@ipjohnson I've run some tests (not as many as I'd like to do) and it seems to work well!

There's only one thing that doesn't feel alright to me, altough I'm not sure if it's a bug or a design decision. Suppose we have this constructor

[code]
When I resolve a Func<int,SomeClass> and call it, the integer argument is passed to both int arguments of the constructor (and that's ok, it matches the ty

[2017-05-07 20:45] ipjohnson commented on #78
@darkcamper the second case should work as you think it should, let me do a little research to see why it's not working as anticipated.

The problem looks to be a string casing bug. I've checked in a fix and the build has a nuget feed if you'd like to try it out `https://ci.appveyor.com/nuget/grace-master`

[2017-05-08 13:52] eswann opened #81 "Better documentation of registration features"
First, thanks for the awesome library. I'm mainly struggling with documentation. In my case, I'm trying to register all of my command handlers (they implement a generic interface) by all of their interfaces in an assembly.  What I arrived at was:

[code]
But I was confused as to whether I should use the filter in ByInterfaces(filterhere) or perhaps use When(filterhere).  I think it's great to have

[2017-05-08 15:51] ipjohnson commented on #81
Hi eswann,

I'm always open to adding more documentation and exporting a type set is a little thin with documentation. I'll try and add some more over the coming weeks.

To your question about what's the difference between the different options

* ByInterface(type) - Export all types that implement a specific interface
* ByInterfaces() - Export all interfaces implemented, optional type filter so y

[2017-05-08 21:12] darkcamper commented on #78
@ipjohnson I've just tried your last fix and it works perfectly :smile:

[2017-05-08 22:30] ipjohnson commented on #78
@darkcamper, very good. I think what I'm going to do is take another week or two and write some more tests and then do a release. This will also give you a little more time to work with it and see if there are any other issues you run into.

[2017-05-09 04:50] eswann commented on #81
Thanks @ipjohnson. In this case, I want to find all public classes that implements the generic ICommand<> interface, but I want to register the resulting types as all interfaces implemented. That's how I arrived at my approach. Does my approach still sound legit? My confusion was: does the ByInterface(filter) filter the interfaces that are registered for the type? (That intuitively sounds like it

[2017-05-09 13:40] ipjohnson commented on #81
@eswann my mistake your syntax is correct for the behavior you're looking for. To your question about ByInterfaces(filter) you are in indeed correct every interface in every type (as we are talking about a set of types) will be passed to the filter.

If you're up interested in doing a pr that would be awesome. Ultimately I'm looking to use docfx to generate documentation from the source, combined

[2017-05-09 18:56] ILAgent opened #82 "Resolve request interceptor (smth like UnityContainerExtension / BuilderStrategy in Unity)"
It is necessary for me to have availability of service resolving interception. Sorry, if it already is, please show how to achieve. Thank you !

[2017-05-09 19:10] ipjohnson commented on #82
@ILAgent I'm not familiar with unity's BuilderStrategy, do you have some documentation you can point me at so I can better understand the feature.

At this point Grace supports the decorator pattern that some people use for interception. [Here](https://github.com/ipjohnson/Grace/blob/master/tests/Grace.Tests/DependencyInjection/Intercept/InterceptionTests.cs) are some of the unit test where I'm us

[2017-05-09 19:37] ILAgent commented on #82
Thank you, I've seen. But I'd like to intercept pre and post build moments for all services in my container. In Unity I can do it such:
[code]

Also example is here http://mark-dot-net.blogspot.ru/2009/09/custom-object-factory-unity-extension.html

I haven't understood, how to implement it with Grace.

[2017-05-09 19:51] eswann commented on #81
Great, thanks for the feedback!

[2017-05-09 19:51] #81 closed

[2017-05-09 20:00] ipjohnson commented on #82
@ILAgent I'm going to be honest with you Grace wasn't built with this type of use case in mind because it's really slow to execute at request time.

Grace essentially builds delegates on the fly that look something like this
[code]
Grace supports the idea of post build up with decorators but no PreBuildUp. With some work you can probably mimic the behaviors you're looking for but it's not out of t

[2017-05-09 20:42] ILAgent commented on #82
Yes, I have to log resloving time for each service, so I need to measure intervals between pre and post build moments. Is it possible with Grace ?

[2017-05-09 20:58] ipjohnson commented on #82
@ILAgent sorry it's not really possible at this point in time, that said with the way top performing containers (Grace, DryIoc, lightinject, etc)  are written you're going to spend far more time trying to time the instantiation than it takes to actually instantiate the object.

Performance [numbers](http://www.palmmedia.de/blog/2011/8/30/ioc-container-benchmark-performance-comparison) show that
*

[2017-05-09 21:00] ipjohnson commented on #82
Sorry I did the math wrong untity for the complex use case is 450x slower than grace.

[2017-05-09 21:07] ILAgent commented on #82
Thank you, perfomance is general reason why I'm looking to Grace. But unfortunately my services have complex constructors and must be profiled...

[2017-05-09 21:23] ipjohnson commented on #82
@ILAgent it's possible to time a whole object graph being constructed but at this point I don't really see a good way to add the feature on a per instatiation basis and keep things performant.

Wish I had a better answer for you but part of the reason Grace is as fast as it is, is because it's not quite as dynamic as Untity and NInject (No pre-build up only post).

[2017-05-10 00:17] ipjohnson commented on #82
@ILAgent I thought about it some more and maybe there is a way to do what you are looking to do. I've refactored the constructor logic recently for issue #78 and I think maybe something like this could work for your situation

[Custom constructor logic](https://github.com/ipjohnson/Grace/blob/master/tests/Grace.Tests/DependencyInjection/ConstructorSelection/TimedConstructorSelectionMethod.cs)

I'd

[2017-05-12 17:50] darkcamper opened #83 "Support for removing Exports from Container"
Hi @ipjohnson , I'm looking for some kind of replacement for Ninject's Rebind functionality. It allows to throw away all the previous Exports for a certain type without modifying Exports for the rest of the types.

I'm trying to load a series of IConfigurationModule-like classes (inside a single .Configure call) that add exports to a certain interface, so I can do a Locate<IEnumerable<IThatCertain

[2017-05-12 18:22] ipjohnson commented on #83
Hi @darkcamper Currently it's not possible, that said if it's all within one configuration call I think it would be very possible. I think this would dove tail in with issue #44

I have one other thing I'm going to try and get working this weekend and then release 6.1.0. This issue and #44 would go into the next release. I probably won't get much time to address this till the following week as we

[2017-05-12 18:59] darkcamper commented on #83
@ipjohnson Family comes first! I'll be looking forward to testing next release.
Have a nice weekend!

[2017-05-15 14:21] ipjohnson opened #84 "Complex missing dependency bug"
There looks to be a minor bug when resolving complex nested that rely on missing dependency resolver. It only happens when you force the container to register concrete types automatically.

Here is the test case to cause it

[code]

[2017-05-15 14:22] ipjohnson commented on #82
@ILAgent were you able to get this solution working or have you moved onto another container?

[2017-05-15 15:40] ILAgent commented on #82
Hi ! I've found too difficult to change ioc container in my project, that's why I have not tried yet.

[2017-05-15 16:12] ipjohnson commented on #82
Completely understand. Depending on how it's built it's like trying to replace your house's foundation while still living in it.

I think for moment I'm going to close this issue, then in a couple months when I have some more time I'll open a new issue for implementing this feature as it does seem interesting just not something I can implement now (I official have less than 5 weeks to finish some

[2017-05-15 16:12] #82 closed

[2017-05-15 16:34] ILAgent commented on #82
Thank you ! Hope I'll try Grace in the nearest future.

[2017-05-15 22:50] ipjohnson commented on #84
Completed in 6.1.0

[2017-05-15 22:50] #84 closed

[2017-05-15 22:51] #80 closed

[2017-05-15 22:51] #79 closed

[2017-05-15 22:52] #74 closed

[2017-05-15 22:52] #75 closed

[2017-05-15 22:52] #76 closed

[2017-05-15 22:52] #77 closed

[2017-05-15 23:29] ipjohnson commented on #78
I've released 6.1.0, if you have any issues let me know

[2017-05-15 23:29] #78 closed

[2017-05-18 19:27] crystalbyte opened #85 "Is there support for metadata available ?"
Is there currently a way to publish and distinguish multiple exports of the same type ?

[2017-05-18 20:14] ipjohnson commented on #85
hi @crystalbyte yes there is support for metadata there is a built in class in Grace called `Meta<T>` it functions similarly to Autofac and other containers.

You can check out some of the unit tests [here](https://github.com/ipjohnson/Grace/blob/master/tests/Grace.Tests/DependencyInjection/Metadata/MetadataTests.cs). If you have an questions or looking for some enhancements let me know.

[2017-05-19 21:23] crystalbyte commented on #85
Thanks for the quick feedback.

[2017-05-19 21:33] crystalbyte opened #86 "ExportInstance<T> requires lifestyle singleton ?"
I was surprised that I need to specify the singleton lifestyle for an instance export in order to not receive a new copy. I assume this is a bug ?

[2017-05-19 22:13] ipjohnson commented on #86
Not a bug persay it's the behavior that it's always been. Consider it maybe misnaming on my part as the original method was `ExportInstance<T>(T value)` which didn't need a lifestyle at all. Then came the function versions I'm assuming you are speaking about.

I actually was thinking about deprecating it as they have been superseded by the `ExportFactory<...>` methods and as you mentioned the nami

[2017-05-19 22:17] ipjohnson commented on #85
One place that I could see enhancing the metadata would be to add `Meta<T, TMetadata>` where the properties of TMetadata are bound to metadata properties. I think ninject has something like this.

[2017-05-20 13:39] ipjohnson commented on #42
Marking this as closed for the moment as there are multiple ways to do it and probably adding a new one will just confuse things

[2017-05-20 13:39] #42 closed

[2017-05-20 13:50] ipjohnson opened #87 "Strongly Typed Metadata"
While Grace currently supports Metadata it only supports accessing it using IDictionary and objects as keys. It would be cool to support strongly typed models similar to how autofac does it.

[2017-05-21 15:45] crystalbyte commented on #86
Thanks for the quick response. In anticipation of future changes I will stick to the `ExportFactory<T>` then.

[2017-05-21 15:45] #86 closed

[2017-05-21 15:45] #85 closed

[2017-05-21 15:50] crystalbyte opened #88 "Properties not expected in a fluent API"
I was just wondering as to why a property was chosen for setting the `Lifestyle` instead of a method.
To me it was very unintuitive, since it breaks the usual fluent API sequence.

[2017-05-21 20:10] ipjohnson commented on #88
hi @crystalbyte, the reason for choosing a property for Lifestyle is that it forces the developer to chose a lifestyle or else it won't compile.

[code]
"To me it was very unintuitive, since it breaks the usual fluent API sequence."

I'm not sure I follow this statement. The lifestyles return values that continue the fluent sequence as seen below.

[code]

[2017-05-21 20:33] ipjohnson opened #89 "Depricate ExportInstance(delegate) methods in favor of ExportFactory<...> methods"
With the introduction of the ExportFactory method the ExportInstance(delegate) methods have become obsolete. As well as being obsolete the behavior is not consistent with how `ExportInstance<T>(T value)` and leads to confusion as seen in issue #86. With this in mind I'm going to mark the methods as obsolete in 6.2 and plan to remove them at some point later for a major version number release.

[2017-05-21 21:51] crystalbyte commented on #88
Hi,
I am sorry for I have expressed myself poorly.
The sequence is not actually broken, it is merely deviating from the regular pattern used in most of the other methods. It seems a little unclean to me.

I was expecting something more like
`registrationBlock.Export<SomeExport>().As<ISomeInterface>().AsSingleton()`
or
`registrationBlock.Export<SomeExport>().As<ISomeInterface>().WithLifestyle(new C

[2017-05-21 22:33] ipjohnson commented on #88
@crystalbyte it actually used to be that way but I found the interface was just becoming to large and it was hard to find things. It was really just a means of organizing lifestyles and conditions (with the intention that more will be added over time).

I think it's a personal preference, what seems intuitive to one person seems obtuse to another.

[2017-05-22 08:44] crystalbyte commented on #88
Thanks for the clarification. On this topic we seem to have different tastes, but then I do not mind pineapple on my pizza, so perhaps it's just me :P

[2017-05-22 14:30] ipjohnson commented on #88
Since it's me that's breaking from the norm it's probably my tastes that are a bit odd. That said I think we can both agree pineapple does work well on pizza.

[2017-05-23 05:43] #88 closed

[2017-05-23 16:21] ipjohnson opened #90 "Disposal order incorrect for Singleton"
Currently the order of disposal is incorrect for Singleton as it allocates a separate DisposalScope, to simplify the implementation and to guarantee disposal order the individual scope should be removed and the singleton should be added to root scope.

[2017-05-25 08:30] darkcamper commented on #89
@ipjohnson How about adding an "ExportFuncWithContext<T>" extension method (that maps to ExportFunc<IExportLocatorScope, StaticInjectionContext, IInjectionContext,T>) to IExportRegistrationBlock?

I think it would make easier the transition from the obsolete ExportInstance method when you just want to do a context-base activation, and would provide design-time support for tools such as Resharper t

[2017-05-25 13:37] ipjohnson commented on #89
@darkcamper sounds like a good idea, something like this?

[code]

[2017-05-26 01:59] #90 closed

[2017-05-26 02:00] #87 closed

[2017-05-26 08:00] darkcamper opened #91 "Extend support for special types"
I've noticed that you can automatically Locate an IEnumerable<Func<T>> but not an Func<IEnumerable<T>> (or at least I've been unable to make it work).

I think it would make sense when you want to declare a dependency on a single factory that returns all known exports for T.

[code]

[2017-05-26 12:14] ipjohnson commented on #91
So looking at this it's definitely a bug. It has to do with the way wrappers are calculated and the fact `IEnumerable<T>` and `T[]` don't have activation strategies.

[2017-05-26 19:23] ipjohnson opened #92 "GenericCompiledExportStrategy disposal"
GenericCompiledExportStrategy needs to override Dispose and dispose _lifestyles

[2017-05-26 23:49] #92 closed

[2017-05-26 23:49] #91 closed

[2017-05-26 23:51] #89 closed

[2017-05-27 18:36] ipjohnson commented on #83
@darkcamper I'm looking to add these two methods to the registration block interface. Let me know what you think or if you want any changes

[code]

[2017-05-27 19:52] darkcamper commented on #83
@ipjohnson I like it. I think the filter delegate solution allows you to remove whatever you want without exposing too much from the internals.

[2017-05-28 22:15] ipjohnson commented on #44
I'm going to move this back to 6.3.0 and rethink the method to be more like Autofac

[2017-05-29 13:41] #83 closed

[2017-05-31 14:36] ipjohnson opened #95 "AddModule method for registration block"
It would be good to be able to add a configuration module to a registration block

[2017-06-10 14:21] ipjohnson commented on #44
After looking at the implementation for autofac I'm going to mirror the IfNotRegistered and OnlyIf methods

[2017-06-10 14:52] #95 closed

[2017-06-10 14:53] #44 closed

[2017-06-15 08:08] darkcamper opened #97 "Support for MVC WebApi2 with OWIN"
Hi @ipjohnson !

I know there is an adapter for using Grace with Asp.net Core. How about adding integration for OWIN based MVC Web Api 2? It would be great for selfhosted services when you are still not able to make the jump to NET Core.

[2017-06-15 13:48] ipjohnson commented on #97
Hi @darkcamper

I definitely like the idea but unfortunately I'm going to be strapped for time in the coming weeks so I won't be able to under take this for a bit. I'm 100% positive it will work as Grace supports MVC 5 and I have a couple MVC apps that use owin and create new scopes and resolve from them.

Are you looking to start a project now?

[2017-06-19 12:18] darkcamper commented on #97
I'm going to start a new project that could make use of it in a couple of weeks.

It doesn't seem too difficult, at least at a basic level with just the IDependencyResolver (which might suffice for the moment). So I think I'll give it a try and tell you about the results.

[2017-06-24 15:03] darkcamper opened #98 "Question about lifestyles"
@ipjohnson

Hi!

I have some IDisposable implementations for which I only want a single instance created per named scope ( using SingletonPerNamedScope works ok for this). But I also need sometimes to inject a factory for these IDisposable that would create always new instances that are not tracked by the scope (and threfore not disposed when the scope is disposed).

Here a small sample of what I

[2017-06-24 19:14] ipjohnson commented on #98
@datkcamper, ultimately the problem comes down to you created one registration with a lifestyle but want to use the same registration in two different ways.

In one situation you want the container to create Dispoable as a sington per scope. In the other situation you want the container to create a transient with no disposal tracking.

Probably the easiest solution is to do a second export of the

[2017-06-24 22:06] ipjohnson opened #99 "LocateKey doesn't correctly carry"
`Func<T>` and other wrappers should carry the locate key through the request. This test should pass when finished. Relates to issue #98

[code]

[2017-06-25 00:52] ipjohnson commented on #98
I've added two unit tests as examples of what I was thinking at the bottom [here](https://github.com/ipjohnson/Grace/blob/3d8ca3f6b486c44df2f3aec8c61aaccc2ba89a67/tests/Grace.Tests/DependencyInjection/Keyed/KeyedLocateTests.cs).

I've also opened issue #99 to support using `Func<T>`

[2017-06-25 12:30] darkcamper commented on #98
I was pretty sure I would need another export for the factories but I didn't realize the key was in the keys (no pun intended). I've read the new unit tests you've made, and now it's all clear to me.

Thank you @ipjohnson !

[2017-06-25 12:30] #98 closed

[2017-06-25 16:46] ipjohnson opened #100 "ImmutableLinkedList<T> implement IReadOnlyList<T>"
`ImmutableLinkedList<T>` should implement `IReadOnlyList<T>`

[2017-06-25 17:36] #100 closed

[2017-06-28 12:00] SuperJMN opened #101 "This is AWESOME"
This isn't a DI container, it's THE DI CONTAINER.

Also, this isn't an issue, just a way to give you thanks for your great work. Keep it up, Ian!

I hope you're OK :)

BTW, It seems I finally got my team use Grace. Woohoo!

[2017-06-28 21:37] ipjohnson commented on #101
Hi Jose,

Long time no see :) Thanks for the compliments. I'll send you an email here to shot the sh*t

[2017-07-01 14:58] darkcamper opened #102 "Question about export conditions"
Hi @ipjohnson

Is it possible to export something so that it has effect when the activation happens inside a certain scope (or nested scope) ?

I'm looking for something like this:

[code]

I have two exports for the same type that should be SingletonPerNamedScope, but with different scope names and I'm getting NamedScopeLocateException when activating. I don't know in compile time which class wil

[2017-07-01 15:47] ipjohnson commented on #102
Hi @darkcamper

Out of the box Grace doesn't support request time conditions. It's something I've thought about before but it's pretty complicated and not very performant.

That said you can simulate what you want to do with a little bit of code yourself. I've put together a quick [unit test](https://github.com/ipjohnson/Grace/blob/84d203bbd765068c1b73b80193c5d753b0604450/tests/Grace.Tests/Depende

[2017-07-01 15:59] ipjohnson commented on #102
The other option you have is you can skip the keys and Locate the types directly

[code]

[2017-07-03 09:31] darkcamper commented on #102
I finally went with the AsKeyed + Factory method option you portrayed in the unit test, as I think it's more versatile and suits my needs better.

I agree with you that choosing the activation strategy using runtime information could be less performant but it would make the export api far more powerful and straightforward in some cases. Maybe sometime in the future as an optional feature?

Thank y

[2017-07-03 09:31] #102 closed

[2017-07-04 14:08] #101 closed

[2017-07-09 02:20] ipjohnson opened #103 "Improve keyed look up"
Currently keyed lookup delegates are not cached. It should improve performance to cache delegates and consolidate the code for lookups.

[2017-08-07 17:48] darkcamper opened #104 "Problem with Locate and wrappers"
Hi @ipjohnson,  how are things going?

I've found a possible incosistency between locating directly a wrapper (such a Func<> that wraps a non exported abstract type), and locating a type that has a dependency on the same wrapper. The former works as expected, but the latter throws a LocateException.

I found this while trying a WrapperStrategy I wrote for the [Option<> type](https://github.com/nlk

[2017-08-07 18:09] ipjohnson commented on #104
Hi @darkcamper

Things are good can't complain.

The example you have is kind of interesting both should fail and ultimately do (when the func is executed it throws that it can't find the abstract) but not at the same place.

What's the behavior you are expecting that both locate should fail (The abstract can never be instantiated)?

[2017-08-07 18:26] darkcamper commented on #104
I would expect both would succeed initially, and then when the Func<> is called, it would fail.

The wrapper I'm currently writing (OptionWrapperStrategy) is a means of letting a constructor expose that "it's okay if you can't provide an instance of this dependency, it's really optional". For instance, I could declare on a repository class that it may use a Validator before persisting the entity,

[2017-08-07 18:49] ipjohnson commented on #104
Hmmm in the past I've handled optional parameters one of three ways.

1) When registering the export you mark the parameter as IsRequired(false)
2) If you have control over the constructor you can set the default value to null
[code]
3) Take in an `IEnumerable<AbstractValidator<Entity>>` then iterate over the provided validators (I usually prefer this as it allows you to provide small fine grained

[2017-08-07 20:01] darkcamper commented on #104
Hehehe, newborns require indeed a lot of time (but it's time well spent!)

I agree with you that making the behavior of locating Wrapper<T>, when T is unknown for the container, configurable would be the best solution. In the meanwhile I'll change my constructors to use null default values, instead of the Option<T> type, as you suggested.

If you need some help testing the changes (when you find s

[2017-08-08 23:36] ipjohnson commented on #104
@darkcamper I thought about it a bit more and I think with a couple small tweaks to the code base a OptionStrategy would be pretty easy to implement.

I'm going to open a couple issue to cleanup some small things that will make it easier to implement (`Option<T>` works now but `Option<int>` does not).

[2017-08-08 23:39] ipjohnson opened #105 "Create Generic Base Strategy"
Currently it's hard to implement a generic strategy without repeating some boiler plate as seen in BaseGenericEnumerableStrategy. To help implement issue #104 this should be completed

[2017-08-09 01:30] ipjohnson opened #106 "ExpressionResult enhancement"
Add a flag to the IActivationExpressionResult to signify that the result was found or the default expression was used. This is needed for issue #104

[2017-08-09 17:58] darkcamper commented on #104
@ipjohnson Sounds promising! I'll be following the issues you just opened

[2017-08-12 23:06] ipjohnson opened #107 "Simplify Property Injection IL"
Use the DUP instruction to simplify the IL generation for property injection

[2017-08-12 23:06] #107 closed

[2017-08-12 23:08] #105 closed

[2017-08-12 23:08] #106 closed

[2017-08-13 00:44] ipjohnson commented on #104
@darkcamper I put together an example strategy and tests for `Option<>` [here](https://github.com/ipjohnson/Grace/tree/dev/tests/Grace.Tests/ThridParty/Optional).

Do you want to try out the nightly nuget packages https://ci.appveyor.com/nuget/grace-master (says master but has dev as well)

[2017-08-13 17:59] darkcamper commented on #104
@ipjohnson I tried the last nuget + your Option strategy example, and it works really well! My application is running again with Option<> dependencies :smile:

I know you're really short on time and I **really** appreciate the effort you put in to make these changes.

[2017-08-13 21:42] ipjohnson commented on #97
@darkcamper what did you end up doing for this?

[2017-08-14 12:03] #99 closed

[2017-08-17 20:34] ipjohnson commented on #104
I'm going to look at trying to roll out a release this weekend. Everything working well?

[2017-08-18 06:49] darkcamper commented on #104
Yeah! I've being using the dev nuget package since you released it, and found no problems at all

[2017-08-18 06:55] darkcamper commented on #97
@ipjohnson I currently have a working solution based on creating named scopes per request. I think it's still a bit rough so I'll have to do some refactoring and cleaning before uploading it to github / nuget (maybe this weekend I could find some time).

Is there any naming convention for grace related packages made by third parties? (just to be consistent with other packages)

[2017-08-18 11:49] ipjohnson opened #108 "DynamicConstructorSelection problem when resolving interfaces"
There is a bug in the dynamic constructor where the wrong type is being probed for constructors (activation type vs request type).

[2017-08-18 11:55] #108 closed

[2017-08-18 12:13] ipjohnson opened #109 "Constructor selection not taking known values into consideration"
The best constructor selection method is not taking into account known values when picking which constructor to use. So for an example when passing in values from a func they aren't considered for use when picking the constructor.

[2017-08-18 12:14] #109 closed

[2017-08-22 19:59] tiagorosendo opened #111 "Error with Aspnet Core 2.0"
When i run one API with aspnet core 2.0 and grace i have this error message:

Grace.DependencyInjection.Exceptions.LocateException: 'Could not locate Type System.Func`3[System.String,Microsoft.Extensions.Logging.LogLevel,System.Boolean]
1 Importing Microsoft.Extensions.Logging.ILoggerProvider
2 Importing System.Func`3[System.String,Microsoft.Extensions.Logging.LogLevel,System.Boolean]  for constru

[2017-08-22 20:30] ipjohnson commented on #111
@tiagorosendo it looks like the constructor for the logging [implementation](https://github.com/aspnet/Logging/blob/dev/src/Microsoft.Extensions.Logging.Console/ConsoleLoggerProvider.cs) was changed in ASP.Net core to have multiple constructors and Grace as well as other containers are having issues as the longest constructor is being used ...

I'll take a look this weekend about updating the best

[2017-08-24 15:04] ipjohnson opened #112 "Add support for DefinesNamedScope"
To help bridge the gap between NInject and Grace it would be interesting to add a DefinesNamedScope feature.

[2017-08-24 15:09] ipjohnson opened #113 "ExportExpression"
A user suggested offer an option to export a linq expression in addition to `ExportFactory<T>`. The idea would be that calls to `Arg.Locate<T>()` would be replaced by the container with the proper dependency.

This could allow the developer to make more interesting exports that have runtime logic in them while still maintaining the injection hierarchy.

[code]

[2017-08-24 20:11] ipjohnson commented on #113
@ElMaxxi I opened this issue up to track the work for this but now I'm remembering the limitations involved with lambda to expression tree conversions.

Currently there is support no for a number of C# language features including but not limited to statement body. This is a huge limiting factor and for me makes me it not worth implementing.

If MS decides to implement more features for expression

[2017-08-24 23:37] ipjohnson commented on #111
@tiagorosendo I've tested my changes in a test asp.net core 2.0 app everything looks good so I'm going to close this out and release a nuget package with it.

[2017-08-24 23:37] #111 closed

[2017-08-24 23:48] ipjohnson commented on #97
@darkcamper sorry I thought I replied to this earlier but apparently didn't. (WhatEverYouWant).Grace.Owin seems reasonable. What are your thoughts?

[2017-08-31 23:42] sonofaforester opened #115 "Ninject Factory functionality"
Do you support functionality similar to the Ninject Factory extension?

https://github.com/ninject/Ninject.Extensions.Factory/wiki

[2017-08-31 23:59] ipjohnson commented on #115
@sonofaforester some of the functionality is currently supported in the base package `Func<...>`, `Lazy<T>`, and custom delegates.

What's not supported at this time is the interface generation. That said I don't believe it would be too hard to implement. I'll look at putting together a Grace.Factory package that would target .netstandard 1.1.

[2017-09-01 00:01] ipjohnson commented on #113
Thinking about it a bit more it really doesn't add much to implement so I'll include it.

[2017-09-01 08:42] ElMaxxi commented on #113
I believe that adding such an option, will allow other "gracers" a bit more creativity on the creation of their types. Can't wait to see how it'll turn out :-)

[2017-09-01 08:49] ElMaxxi commented on #115
is there a place to see the eta of the various milestones?

[2017-09-01 16:18] ipjohnson commented on #115
@ElMaxxi I'm not sure what the ETA will be for 6.3.0. Hopefully I'll get some time this weekend but I can't make any promises as I have a 2 month old at home and she rules the roost ...

[2017-09-02 20:41] ipjohnson commented on #115
I've added two methods for doing factory generation on the fly `ExportFactory<T>()` and `ExportInterfaceFactories()`.

I've put in a couple tests that can be found [here](https://github.com/ipjohnson/Grace/blob/dev/tests/Grace.Tests/Factory/DynamicFactoryStrategyTests.cs). Let me know what you think.

[2017-09-02 21:36] ipjohnson commented on #113
@ElMaxxi What I've added so far is `ExportExpression<T>(Expression<Func<T>> expression)` allowing for something like

[code]

[2017-09-03 17:18] ElMaxxi commented on #113
@ipjohnson this looks pretty cool. Is it possible to throw in an IExportLocatorScope to the arguments of the expression? just as is possible with the exportfactory?

[2017-09-03 18:27] ipjohnson commented on #113
@ElMaxxi  Something like this

[code]

[2017-09-03 19:11] ElMaxxi commented on #113
@ipjohnson well i didn't mind the Arg, i just thought that having access to the site will let me have access to scope properties to help with the logic. Something enabling, for example, a different logic, if the scope name matches a specific scope.

[2017-09-03 21:02] ipjohnson commented on #113
What if I put in `Arg.Scope()` and that gave you access to the scope so you could do something like

[code]

[2017-09-03 21:11] ElMaxxi commented on #113
That would be totally fine.
I really appreciate your prompt followup on this :-)

[2017-09-04 00:24] ipjohnson commented on #113
I've added `Arg.Scope()` and `Arg.Context()`

I also added something that I thought was kind of interesting `Arg.Locate(new { })` where you can specify how some dependencies are resolved.

`Arg.Locate(new { SomeValue = 5 })` will use the value 5 for int dependencies named someValue.

[Here](https://github.com/ipjohnson/Grace/blob/dev/tests/Grace.Tests/DependencyInjection/Expressions/ExpressionExpo

[2017-09-04 21:25] ipjohnson commented on #112
this is completed awaiting release

[2017-09-04 21:25] #112 closed

[2017-09-04 22:19] ipjohnson commented on #115
I've pushed out a beta version including `Grace.Factory`. Let me know if you have any suggestions for changes.

[2017-09-04 22:20] ipjohnson commented on #113
I've pushed a beta version to test this, let me know if you have any other suggestions.

[2017-09-05 04:31] tiagorosendo commented on #111
u try to run inside a container with aspnet:2.0 base image? when i try i get this error:

Unhandled Exception: System.TypeInitializationException: The type initializer for 'Microsoft.Win32.Registry' threw an exception. ---> System.PlatformNotSupportedException: Registry is not supported on this platform.
   at Microsoft.Win32.RegistryKey.OpenBaseKeyCore(RegistryHive hKey, RegistryView view)
   at

[2017-09-05 04:33] tiagorosendo opened #116 "Error inside Container"
When i try to run inside a container with aspnet:2.0 base image, i get this error:

Unhandled Exception: System.TypeInitializationException: The type initializer for 'Microsoft.Win32.Registry' threw an exception. ---> System.PlatformNotSupportedException: Registry is not supported on this platform.
at Microsoft.Win32.RegistryKey.OpenBaseKeyCore(RegistryHive hKey, RegistryView view)
at Microsoft.Wi

[2017-09-05 11:27] sonofaforester commented on #115
Thanks for the quick turnaround! I'll be working on that this afternoon or tomorrow and will let you know.

[2017-09-05 11:54] ipjohnson commented on #116
Can you attach your Program.cs and Startup.cs? It looks like something going sideways in the DataProtection code but I'm not sure why.

[2017-09-05 11:59] ipjohnson commented on #116
Also what platform are you on .net core 2.0, net 4.6.2? Windows, linux?

[2017-09-05 13:07] ipjohnson commented on #116
Ok I was able to track the problem down to a change MS made to their own code and opened an issue. I'll look at adding some type of black listing feature for concrete types that works off names (the type is internal so it has to be name not typeof()).

Sorry you have to be the guinea pig, I didn't realize they were making so many DI refactoring changes that would ripple like this.

[2017-09-05 16:47] ipjohnson commented on #116
This won't be addressed till MS releases asp.net core 2.1 so to bridge that gap I'll add a feature to Grace to allow you to black list types from being auto-registered (Microsoft.AspNetCore.DataProtection.RegistryPolicyResolver specifically).

I'll see about doing a release in the next couple days to add this feature.

[2017-09-05 16:48] davidfowl commented on #116
Sorry about this 😞

[2017-09-05 16:54] ipjohnson commented on #116
@davidfowl these things happen especially when you have so many moving part that can be swapped in and out.

[2017-09-06 01:46] tiagorosendo commented on #116
@ipjohnson thanks for the fast support, i will wait for the Grace release =D

[2017-09-06 22:59] ipjohnson commented on #116
@tiagorosendo I've pushed a beta package if you could give it a whirl that would be great.

You'll need to add a call to `ExcludeTypeFromAutoRegistration` in your configuration code.

[code]

[2017-09-06 23:00] ipjohnson commented on #115
@sonofaforester I've pushed a new beta version including your change and the recursive support you mentioned earlier.

Let me know how it goes.

[2017-09-07 13:07] ipjohnson commented on #104
@darkcamper just  heads up for 6.3.0 the signature for IMissingExportStrategyProvider has changed so you will need to update your `Optional<T>` solution.

Thinking about it a bit more you can just add your strategy directly to the container and skip the missing strategy provider

[code]

[2017-09-08 15:12] sonofaforester commented on #115
This is working like a champ! Now that I understand Grace a little better, I ended up doing Lazy<> injection of most of the factories. Excited to have a nice replacement for Ninject which seems to be dead. Thanks for you quick work on this.

[2017-09-08 20:33] RandomEngy opened #118 "ImportMembers misses members on base classes"
When I've marked some members with the [Import] attribute and call `ImportMembers(MembersThat.HaveAttribute<ImportAttribute>())` , it misses marked members on the base class.

It would be nice if it found members on the base class, and also had a way to automatically import marked members for all types, without needing to use ImportMembers on every registration.

[2017-09-08 21:28] ipjohnson commented on #118
@RandomEngy I'll tighten up the logic this weekend to make sure base properties are injectable

currently there is a c# extension for registration block ImportMembers that is container wide but it requires the type of the property.

In theory you should be able to do
`container.Configure(c => c.ImportMembers<object>(MembersThat.HaveAttribute<ImportAttribute>()));

but there again it uses the same

[2017-09-08 21:29] ipjohnson commented on #115
Perfect. I'll look to roll out a release this weekend with this included.

[2017-09-08 21:59] RandomEngy opened #119 "Dependency properties don't work with keys"
Dependency properties don't seem to work with keys.

    public class Test : ITest
    {
        [Import(Key = "abc")]
        public IDep MyDep1 { protected get; set; }

        [Import(Key = "def")]
        public IDep MyDep2 { protected get; set; }

        public void DoAThing()
        {
            Console.WriteLine("Did a thing");
        }
    }

...

    var container = new DependencyInje

[2017-09-09 03:05] ipjohnson commented on #119
I see why that didn't work. The ImportMembers isn't taking into account the ImportAttribute it's only being used for filtering purposes (i.e the ImportAttribute isn't being inspected).

[2017-09-09 03:06] ipjohnson opened #120 "ExportInitialize<T>"
Add ExportInitialize method to apply cross cutting initialization logic to all exports.

[2017-09-09 03:12] ipjohnson commented on #120
@RandomEngy this is the feature we were discussing.

[2017-09-09 03:14] #120 closed

[2017-09-09 03:16] #118 closed

[2017-09-09 03:17] #115 closed

[2017-09-09 03:17] #113 closed

[2017-09-09 03:18] #119 closed

[2017-09-09 03:21] ipjohnson commented on #116
@tiagorosendo I'm going to close this out and push an official release tomorrow. Let me know if you run into any other asp.net 2.0 compatibility issues. Thanks.

[2017-09-09 03:21] #116 closed

[2017-09-11 15:39] RandomEngy commented on #119
This code is still failing for me in 6.3.0.

[2017-09-11 16:46] ipjohnson commented on #119
Hmm now I'm a little flummexed because I added the following [unit test](https://github.com/ipjohnson/Grace/blob/cf745e4ac76f06eaecf3e829716ce9dc897b74f4/tests/Grace.Tests/DependencyInjection/AddOns/ImportMembersTests.cs) for this use case.

Maybe it's a matter of `ImportMembers()` vs `ImportMembers<T>()`

Just to check the ImportAttribute we are talking about is the one found in Grace not the Imp

[2017-09-11 16:55] RandomEngy commented on #119
Oh my bad, I was doing `ImportMember<T>` instead of `ImportMembers<T>` . It's working now.

[2017-09-12 17:24] ipjohnson commented on #119
Just to come full circle on why `ImportMember<T>` didn't work, I marked the old method as Obsolete because the naming convention is different than the one in `Export<T>` and left the old functionality the exact same (not processing attributes as I didn't want to introduce new behavior and break older code).

[2017-09-14 15:28] mcdis opened #122 "BUG wrong child container locate behavior"
[code]

FileLogListener depends on ILogListenerSettings
So...exception:
Grace.DependencyInjection.Exceptions.LocateException: Could not locate Type ILogListenerSettings

but child.Locate<ILogListenerSettings>() resolve normally with normal ILogListenerSettings instance.

[2017-09-14 15:37] ipjohnson commented on #122
try this

[code]

[2017-09-14 16:12] mcdis commented on #122
That's work, but in common case there can be many dependencies inside "FileLogListener".
So it would complicated to maitance the code becouse I've to duplcate depencdencies (in ctor and in registration).
For me that's the base scenary...I create child container, throughout some bahaviors and resolve component. So during resolve the dependecies have to be resolved from child container.
I've checked

[2017-09-14 16:22] mcdis opened #123 "naming"
Think about renaming:
- DependencyInjectionContainer -> Container or GraceContainer
- IInjectionScope -> IContainer or like thar
- CreateChildScope -> Create Child Contianer or NewChild or Child()
Make syntax like average...That's can make the Grace more popular and **decrease line length**.
At this moment:
`_c.CreateChildScope(_ => _.ExportFactory<ILogListenerSettings>(()=>settings))`
`Container

[2017-09-14 16:23] ipjohnson commented on #122
@mcdis if you want your default behavior to always be dynamic then you can change the constructor selection logic to be dynamic all the time with this.

[code]

I'm not sure I follow the "Add Some constraints" comment. Could you elaborate?

[2017-09-14 16:27] ipjohnson commented on #123
While appreciate your ideas to make the code easier to read it will be massive breaking changes for existing users.

At the moment I don't have much stomach for drastic changes as Grace was re-written last year from the ground up.

I'll leave this open for a bit to see what kind of traction it would get from other users.

[2017-09-14 16:32] mcdis commented on #122
About constrains:
exists code:
`c.Configure(_ =>_.Export<ConsoleLogListener>().AsKeyed<IApp>("console"));`
No errors (static checking)
But ConsoleLogListener doesn't implement IApp at all.
For example in Unity:
 `public static IUnityContainer RegisterType<TFrom, TTo>(this IUnityContainer container, params InjectionMember[] injectionMembers) where TTo : TFrom`
The key: **where TTo : TFrom**
So that

[2017-09-14 16:38] mcdis commented on #122
@ipjohnson thak you
`new DependencyInjectionContainer(c => c.Behaviors.ConstructorSelection = ConstructorSelectionMethod.Dynamic);`
That's work perfect.

[2017-09-14 16:40] ipjohnson commented on #122
@mcdis there is a C# extensions similar to unity that has the constraints you want. It's just not possible with the `Export<T>` because of the way it's defined.

[code]

[2017-09-14 16:46] mcdis commented on #122
But you can add constraint to As<>
[code]

[2017-09-14 16:49] mcdis commented on #122
ExportAs - thank you. I didn't know

[2017-09-14 16:52] mcdis opened #124 "Chain configuration"
Think does it possible to make configuration more simple and more chainy (more compact):
example:
c - container
[code]
another example
[code]

[2017-09-14 16:53] #122 closed

[2017-09-14 18:00] ipjohnson commented on #124
Currently the way `ExportAs<T>` returns a configuration object that allows you to configure the lifestyle and other facets.

I'd be open to adding another extension method that goes off of container or is named something else like Register

[2017-09-18 13:10] mcdis opened #125 "Make IInjectionScope resolvable by default"
[code]
where:
[code]

[2017-09-18 13:37] mcdis opened #126 "Provide simple way to check is type registered"
In Unity there is IsRegistered(Type _t) method eixists.
Using them you can check does registration to type exitst.
IsRegistered check from child to parent containers.

[2017-09-19 00:51] ipjohnson commented on #126
Hi @mcdis

There is a method on the registration block called `IsExported` that should be what you are looking for

[2017-09-19 00:55] ipjohnson commented on #125
Hi @mcdis

while it's not the default behavior you can set `_.Behaviors.AllowInjectionScopeLocation = true` and it will behave the way you want. It might make sense to inherit from the configuration and set a couple of these values to be more "Unity".

[2017-09-19 11:36] mcdis commented on #125
yeah! thanks

[2017-09-19 11:36] #125 closed

[2017-09-19 13:41] mcdis opened #127 "Provide extensions to make proxy location simplier"
Register proxy location to another container.
In my case when the system is configurating some modules have to register global interfaces but part of behaviors are registered in child container. So, I need to resolve my interfaces with child container behaviors but after that I have to get acces from global. So in my case proxing is common way.

Example
[code]
In my case I know that proxied IUiLoc

[2017-09-19 14:37] mcdis opened #128 "Change return type of Configure (maybe some extension on alias like .Cfg(_=>...) )"
At this momebt IInjectionScope::Configure returning void, so I can't create routine that create child, configure them and return in one line.
If Configure return IInjectionScope I can do this:
[code]
but I have to
[code]

[2017-09-19 14:42] mcdis commented on #124
May be add some .Configurate alias?
For example
[code]
or use another interface in IExportRegistrationBlock that provide chainy technique but inside it's work over IExportRegistrationBlock but syntax more compact

[2017-09-19 23:24] ipjohnson commented on #128
@mcdis I'd be open to changing the return type on configure.

[2017-09-19 23:29] ipjohnson commented on #127
@mcdis I this seems like some what of a niche extension. For the moment I'm going to recommend implementing them as C# extensions in your code base and if I get some more requests in we can look at formalizing the code into an extension library for Grace

[2017-09-19 23:29] ipjohnson commented on #126
@mcdis Did this work for you?

[2017-09-20 10:35] darkcamper opened #129 "StaticInjectionContext preservation"
Hi @ipjohnson , I'm back from my late summer vacation with a ton of pending work, and a question about Grace:

I have the following situation (simplified):

1. Two classes A and B. A's constructor has a paremeter of type B (which might be decorated with SomeAtrribute)
2. An ExportFactory that based on some stuff ends up doing a Locate&lt;A&gt;(withKey : someKey)
3. An IActivationStrategyInspector

[2017-09-20 13:07] mcdis commented on #126
Will try soon and answer

[2017-09-20 13:10] mcdis commented on #127
ok, that's the way I'm doing now

[2017-09-20 13:46] ipjohnson commented on #129
@darkcamper at this point I don't know of a good way to link the two static context together automatically. What could be done is to stick the StaticInjectionContext instance into the `Locate<OneDependency>` call and then fetch it out of the injection context in the enrichment. It's definitely a little hacky.

[code]

Then in DoSomethingToEnrich you can fetch the context out of the injection conte

[2017-09-20 15:48] darkcamper commented on #129
@ipjohnson I tried passing the original context inside the extraData parameter of Locate before, but then inside DoSomethingToEnrich, "injContext" is empty (it's not null but it contains no extradata at all). Is this the expected behavior?

Wouldn't that be a bit against the idea of ExportFactory, that allows us to use almost any logic to decide how to activate the instance when it's requested?

[2017-09-20 16:14] ipjohnson commented on #129
@darkcamper Hmmm that is not the expected behavior. I'll try and put together an example of what I'm thinking today.

As to your question about it going against the idea of ExportFactory. I see it a bit differently ExportFactory allows the developers to define logic any way you want, but it also allows the developer to specify what dependencies it needs to perform this logic.

In the example above

[2017-09-20 16:52] darkcamper commented on #129
@ipjohnson

Now I understand what you meant, and I fully agree.

That's true. I'm my case I have to choose the key in runtime because it's a workaround to avoid problems using mutiple Lifestyle.SingletonPerNamedScope for the same exported type (you gave me the tip and it's worked like a charm). But anyway you never know what kind of twisted logic are the users going to write in their factories.

[2017-09-21 09:10] ElMaxxi opened #130 "DefinesNamedScope: variable '' of type 'IExportLocatorScope' referenced from scope '', but is not defined"
I am trying to use the "DefinesNamedScope" functionality but I keep getting an exception when I try to locate.
[code]

Am I using the DefinesNamedScope functionality wrong?

[2017-09-21 17:04] mcdis opened #131 "Split nuget packages into interface part and implimentation"
Example of split:
- Grace
- Grace.Interface

That will allow reterget my nuget packages from Grace to Grace.Interface and will make my packages more durable to Grace changes.
If my lib use only interop with containers and it targeted to interface it will independ to container creation or behavior

[2017-09-21 19:29] ipjohnson commented on #130
@ElMaxxi I think you're using it correctly it sounds like it's a bug when combining dynamic constructor selection and the new defines named scope.

I'll take a look tonight or this weekend

[2017-09-21 19:33] ipjohnson commented on #129
@darkcamper Ok I stepped through the code and figured out why the context is empty. It turns out I actually designed it that way.

My original thinking was that when requesting exports with Singleton, SingletonPerScope, and SingletonPerNamedScope no context data is passed through because you could create a condition where order of calls dictated how the export is constructed (i.e. conditional logi

[2017-09-21 19:35] ipjohnson commented on #131
@mcdis Interesting idea and one I'd like to keep on the table for version 7.0. As you say it will allow for more stable consumption of Grace

[2017-09-22 07:21] ElMaxxi commented on #130
I got your dev branch to test and got another error when trying the following code:
[code]
basically, it starts a scope "FirstScope" with the ThreeLevelComplex, then, with the TwoLevelComplex it checks if it is in that scope AND STARTS A SECOND SCOPE, "SecondScope" which is then checked by the OneLevelComplex, The SimpleService, which is injected inside the OneLevelComplex, checks to see if it is

[2017-09-22 09:13] ElMaxxi opened #132 "Question:"
This is not an issue as much as it is a question for the moment.
Can the ClearExports method only be used inside the same Configure context as the other exports have been declared?
[code]
registring exports on multiple configure calls seems to work, though.

[2017-09-22 11:24] ipjohnson commented on #130
@ElMaxxi can you put the full example in a gist and I'll take a look this evening.

[2017-09-22 13:18] mcdis commented on #131
May it's a good idea to split into 3 pieces:
- Grace.Interface
- Grace.Extensions
- Grace
Interface - minimal wireframe
Extensions - that's extensions based on Grace.Interface and simple extend sugar synatax
Grace - impl of interfaces and container creation logic

All syntax sugar based on Grace.Interface will live in Grace.Extensions

[2017-09-22 13:26] mcdis opened #133 "Minify interfaces"
Related to https://github.com/ipjohnson/Grace/issues/131

Let's look to ILocatorService:
[code]

And let's compare to implementation InjectionScope:
[code]

So we can shrink ILocatorService, remove `T Locate<T>()` and replace it to extension method to ILocatorService like:
[code]
LocateOrDefault and other methods can be removed from interface and start live in extension form.

So work in this way

[2017-09-22 13:34] ElMaxxi commented on #130
@ipjohnson https://github.com/ElMaxxi/IocAdapter/blob/master/Tests/DirectTests.cs has a direct test with the code example, it is called GraceNestedScopes.
However, the real test is SetupNestedInjectionWithScopes.

[2017-09-22 13:40] ipjohnson commented on #130
@elmaxxi perfect thanks

[2017-09-22 22:38] ipjohnson commented on #130
@ElMaxxi ok I took a look at your test and for Grace this configuration doesn't really make sense.

SingletonPerNamedScope lifestyle is intended to link the lifetime and disposal of the object to the scope with the name you are specifying.

DefinesNamedScope is asking the container to create a new scope and link the instance lifetime and disposal to the newly created scope.

Those two concepts are

[2017-09-23 17:13] ipjohnson commented on #129
@darkcamper do you want me to add a flag for SingletonPerScope and SingletonPerNamedScope that let's you pass context in?

[2017-09-23 22:16] darkcamper commented on #129
@ipjohnson Yes, please. I think that would be enough to solve this issue.

[2017-09-24 15:38] ipjohnson commented on #129
@darkcamper while I can see the desire to do that it's a harder task than one might think as the static contexts are created when the delegate is created and they are readonly by design. While Grace can imitate most of the behavior of a dynamic container it is at it's heart a compiled linq expression container.

[2017-09-25 07:37] ElMaxxi commented on #130
@ipjohnson your explanation makes perfect sense to me. As I mentioned, it is not a big problem for us, I was just wondering because this seems to work on ninject.

Thanks again for your, as usual, prompt answer.
Cheers

[2017-09-25 07:37] #130 closed

[2017-09-25 13:45] #129 closed

[2017-09-25 13:49] ipjohnson commented on #130
@ElMaxxi glad I could help

[2017-09-26 23:23] mcdis opened #134 "BUG TryLocate<T> throw exception and (Try)Locate failed"
Code:
[code]

where:
[code]

child container configuration behaviors:
 - AllowInjectionScope: true
 - ConstructorSelection: DynamicConstructorExpressionsSelector
 - KeyedTypeSelector: Default

Message
[code]

StackTrace:
[code]

if I remove ```IUiMenuSettingsJsonSettingProvider _settings``` from constructor of UiMenuItemContainerEditor all works,

[2017-09-26 23:40] mcdis commented on #134
SOLVED becouse wrong IUiMenuSettingsItemEditor registration,
but the question is still open why TryLocate throw exception

[2017-09-27 01:24] ipjohnson commented on #134
@mcdis I'm not sure I follow the example. Are you expecting the container to catch the exception or are you expecting the container not to throw an exception when a child dependency is missing on an export that is found?

[2017-09-27 20:20] mcdis commented on #134
I've wrong lifecycle configuration in root container for some type. I used singleton instead per request,
but TryLocate instead return false throw exception.

[2017-09-28 12:35] ipjohnson commented on #134
@mcdis the intention of TryLocate is to attempt to locate an export that matches the requested type. It does not walk it's way down the dependency graph testing to see if children can be resolved. What you are describing would be far to costly performance wise also from my stand point it just masks the real problem in the container configuration.

I do not envision Grace changing for this use case

[2017-09-28 12:36] #134 closed

[2017-09-28 12:37] ipjohnson commented on #133
Just so you are aware I don't envision starting work on changing the interfaces any time soon. If it does happen it will be a year plus out as I have other things I'm interested in working on.

[2017-09-28 12:37] ipjohnson commented on #126
As I haven't heard back that this doesn't work I'm closing the issue

[2017-09-28 12:37] #126 closed

[2017-09-29 15:28] suningnet opened #135 "how can I known if a serviceType has been registered?"
Is there any function like container.IsRegistered(type(MyServiceType))?
I need to  have a check

[2017-09-29 16:23] ipjohnson commented on #135
@suningnet CanLocate will act similar. There is also IsExported which is available during configuration

[2017-09-29 20:07] #133 closed

[2017-11-16 22:42] mcdis opened #136 "Registrations"
Can I enumerate type registrations in container?
I'm porting some old code based on dead unity to the Grace.
So, in one part of code I enumerate all registered types which match pattern ```IRendererResourceProvider<T>``` in container (_container.Registrations / Unity) and Resolve/Locate them all.

So, can I do the same in the Grace or I have to make some workaround?

Old code example:
[code]

[2017-11-16 22:47] mcdis commented on #123
Don't need and love exists style

[2017-11-16 22:47] #123 closed

[2017-11-17 12:25] mcdis opened #137 "Dropping IInjectionScope"
Can I drop IInjectionScope without call Dispose?
Or it will be memory leaks...?
In my case I'm maintaing disposable objects by my self and don't use containers in that way

[2017-11-17 17:30] cuteant opened #138 "Why does this anonymous method always return true?"
https://github.com/ipjohnson/Grace/blob/fef365638fa012ecb9adea63b7998c179b9d1498/src/Grace/DependencyInjection/Impl/Expressions/DynamicConstructorExpressionCreator.cs#L237

[2017-11-17 17:41] ipjohnson commented on #138
I think it's a bug and should return false, I'll take a look this weekend at fixing it and adding a use case. Thanks for finding that.

[2017-11-17 17:44] ipjohnson commented on #137
If you aren't depending on the container to do disposal of your objects then you should be fine. Grace doesn't specifically have any types that need disposing it's there to manage lifecycles of resolved types

[2017-11-17 21:31] #137 closed

[2017-11-19 16:16] ipjohnson commented on #136
@mcdis you can access the containers registrations like so _container.StrategyCollectionContainer.GetAllStrategies()

[2017-11-22 07:33] #136 closed

[2017-11-24 17:21] mcdis opened #139 "Export factory to generics"
Hi!
How I can configure export factory to a generics type?
I want to bind ```ISomeGenericsInterface<T>``` to factory ```Func<T>``` method (single instance in container)

[2017-11-24 17:54] ipjohnson commented on #139
@mcdis I'm not sure I completely follow can you post some examples of what you want to do?

[2017-11-24 20:59] mcdis commented on #139
[code]
In my case I know how to locate ISomeGenericsInterface<T> and the result have to be singleton.
But I don't know concrete types. So When ISomeGenericsInterface<T> locate the factory method have to be called and the result must cached (Singletone).

[2017-11-27 14:17] mcdis commented on #139
Another words, I need a way to define factory which locate generic interface ```ISomeInterface<T>```

[2017-11-27 14:51] ipjohnson commented on #139
Hi @mcdis

There isn't anything specifically built in to do that but I believe you could get the behavior you are looking for using IMissingExportStrategyProvider. I'll see about writing something up this evening.

[2017-12-15 14:01] mcdis opened #140 "Differenece between Keyed and Named"
What's difference between registation AsKeyed, AsName?
How to use AsName?
At this moment I'm using only As Keyed, like:
[code]

[2017-12-15 15:48] ipjohnson commented on #140
Hi @mcdis

The big difference is that Named has no type associated with it (you look it up by name only no type), where as keyed exports by type with a key associated.

The named methods fit a very specific niche where you are looking for something by name and don't care what type it is (MVVM framework where databind happens at runtime so you don't care what type it is).

[2017-12-21 15:00] jan-schubert opened #141 "Logging using DI"
Hi.
Because of the great performance, we try to migrate our project from Ninject to Grace.
Now I try to configure our own ILog interface by using DI.

Ninject configuration:
`container.Bind<ILog>().ToMethod(context => logProvider.GetLogger(context?.Request.Target?.Member.DeclaringType)).InTransientScope();`

Is it possible to get the type of the object that request ILog?

Sample:

[code]

[2017-12-22 02:02] ipjohnson commented on #141
Hi @jan-schubert

You want to do something like this

[code]

[2017-12-22 05:02] davidkeaveny opened #142 "Grace and WebAPI 2"
Is there any plan to out-of-the-box support WebAPI 2 and its `IDependencyResolver` interface? If not, are there any suggestions for how to imeplement the `BeginScope` method?

[2017-12-22 07:23] jan-schubert commented on #141
Thank you. Now I found a unit test for my case (FactorySpecialTypeTests.Factory_Depend_On_IExportLocatorScope_StaticContext).

[2017-12-22 07:23] #141 closed

[2017-12-22 13:24] jan-schubert opened #143 "How to reconfigure a service registration"
Hi. It is possible to replace a binding in a second registration block?

The following test is green, but ClearExports don't remove the export. I try to rebind (like Ninject) a service registration.

[code]

[2017-12-22 15:56] ipjohnson commented on #143
Hi @jan-schubert clear exports only clears within that configure block. By default registering a new export will become the default export. So if you remove the ClearExport your test will pass.

That said by default Grace builds delegates at runtime to achieve it's performance. So once you've resolved a type once the delegate is built and the dependencies are set. If you need to change dependencie

[2017-12-27 12:03] jan-schubert commented on #143
Great!

[2017-12-27 12:03] #143 closed

[2017-12-27 12:30] jan-schubert opened #144 "TaskOrThread lifestyle"
Hi @ipjohnson,

I hope that the following question is my last. :)

I think I need custom lifestyle or is there another method out of the box. I want to receive one service per task or if there is no task one service per thread as fallback.

Is there some documentation how to develop an own lifestyle?

In Ninject I develop an own scope resolver:

[code]

[2017-12-27 13:50] ipjohnson commented on #142
hi @davidkeaveny

Sorry for the slow reply. I don't have any plans to support anything out of the box for web api 2 at this time. That said it shouldn't be to hard to do. I'll try and put together a sample and post it.

[2017-12-27 14:10] ipjohnson commented on #144
Hi @jan-schubert

I don't have any specific documentation on creating your own lifestyle, that said you should be able to do what you are looking to do pretty easy by looking at [SingletonPerScopeLifestyle](https://github.com/ipjohnson/Grace/blob/master/src/Grace/DependencyInjection/Lifestyle/SingletonPerScopeLifestyle.cs). You can remove the thread safe bool as you don't need it for your use case

[2017-12-27 17:08] ipjohnson commented on #139
@mcdis sorry took me a bit but here is the [final implementation](https://github.com/ipjohnson/Grace/blob/dev/tests/Grace.Tests/DependencyInjection/Generics/GenericFactoryTests.cs).

[2018-01-08 14:42] greendimka commented on #138
Shouldn't the #138 be closed now? :)

[2018-01-08 16:34] ipjohnson commented on #138
Good point, I'll close it now. Thanks.

[2018-01-08 16:34] #138 closed

[2018-01-09 10:30] jan-schubert opened #145 "Export by key and generic"
Cannot locate object by key and generic.

[code]

[2018-01-09 13:17] ipjohnson commented on #145
Sorry about that, I've committed a fix to the dev branch for this and will look to do a release in the coming days.

[2018-01-09 15:22] jan-schubert commented on #144
This is my implementation.

It works fine, but the Container.ExtraData collection is getting bigger and bigger. Is it possible to remove extra data from container, if a task was finished?

[code]

[2018-01-09 15:45] ipjohnson commented on #144
@jan-schubert there isn't a way currently but maybe what you could do is instead of putting it in the extra data directly you put a ConcurrentDictionary in the extra data that you can add and remove easily.

The other option you could do at the moment is set the value to null.

Moving forward it does seem like a worth while feature it might make sense to open a new issue requesting the ability to

[2018-01-11 17:17] ipjohnson commented on #135
I'm going to close this as completed.

[2018-01-11 17:17] #135 closed

[2018-01-11 17:18] ipjohnson commented on #140
I'm going to close this as completed

[2018-01-11 17:18] #140 closed

[2018-01-11 17:19] ipjohnson commented on #139
@mcdis can I go a head and close this as completed?

[2018-01-11 17:19] ipjohnson commented on #127
I'm going to close this and a new issue can be created if it becomes a popular request

[2018-01-11 17:19] #127 closed

[2018-01-14 16:58] ipjohnson commented on #145
This is released in 6.3.1

[2018-01-14 16:58] #145 closed

[2018-01-14 16:58] ipjohnson commented on #138
This is released in 6.3.1

[2018-01-16 15:51] Adanaran commented on #139
Hi @ipjohnson
I have used your proposal above to create generic types through a method.
This works as expected, apart from when a type bound with this strategy is injected into another type. This can be solved by wrapping the created expression with a cast before returning it in line [146](https://github.com/ipjohnson/Grace/blob/029ca461b91f24243ceea12aa1a3d8b5669566d4/tests/Grace.Tests/Dependency

[2018-01-17 10:43] krisztiankocsis opened #147 "MS Ext Logging filter configuration doesn't work with Grace"
Hi!

I've tried to reduce the code as much as possible to trigger the issue:
When I activate Grace using UseGrace() + ConfigureContainer(), settings that are present in AppSettings.json regarding the logging filter level configuration, aren't applied.

When I comment out Grace and ConfigureContainer, it starts working -> dbug statements disappear.

I've attached my simple empty project. I can aid

[2018-01-19 15:11] ipjohnson commented on #147
Hi @krisztiankocsis

so I took a look and nothing really stood out as why it would work differently. That said I'll admit I don't use MS logging for asp.net core I usually pair it with something like nlog.

I'll see if I can take a deeper look this weekend but I'm not sure what specifically could cause this.

-Ian

[2018-01-19 15:12] ipjohnson commented on #144
@jan-schubert can I close this out or do you have more questions?

[2018-01-22 19:54] mcdis commented on #139
Hi @ipjohnson good job.
Yes, you can close and go ahead

[2018-01-22 19:54] #139 closed

[2018-01-29 22:01] davidkeaveny opened #148 "Bulk registration of open generics"
I am writing a WebAPI that uses CQRS, and I want to be able to register all implementations of `CommandHandler<T>` in a set of given assemblies. It looks like open generic registration is implemented like this:

[code]

Am I heading in the right direction, and how can I auto-register all implementations of `CommandHandler<T>` in a given set of assemblies?

*Update* : actually, the above doesn't wo

[2018-01-30 12:52] ipjohnson commented on #148
Hi @davidkeaveny

You are correct Grace is interpreting that to mean please export the type `CommandHandler<>` which as you say is abstract and can't be created. Grace does have a bulk registration feature that works on an enumeration of types as well as some helper extension methods for use of use like `ExportAssemblyContaining<T>`.

For the moment it looks like you can register your commands lik

[2018-01-30 20:28] ipjohnson commented on #147
@krisztiankocsis I've upgraded to aspnetcore 2.0 at work and noticed the same thing. I'll be doing some more research and I'll post back when I figure it out.

[2018-01-31 04:12] davidkeaveny commented on #148
Thanks, your provided code sample works just fine for me.

I'll look out for the `ByInterface` fix when it comes.

[2018-01-31 04:23] davidkeaveny opened #149 "How to register decorator classes?"
If I have an abstract base class `CommandHandler<T>`, and I want to register a decorator class `LoggingCommandHandler<T>` such that every class that implements the base class is resolved with the decorator class, how do I tell Grace to achieve such a thing?

How about if I want to add another decorator class `ValidatingCommandHandler<T>` and I want the order of the decorator classes to be preserve

[2018-01-31 08:09] krisztiankocsis commented on #147
Ok, thanks!

[2018-01-31 17:53] ipjohnson commented on #149
Hi @davidkeaveny

I took a quick look and out of the box you can't do what you want to do but I think it's possible to do it with a C# extension.

I'll write up an example of how to do it and post a gist of it.

I also think this is a worth feature request so I'll see about making it part of Grace officially so you don't have to do an extension.

[2018-02-01 18:27] jan-schubert commented on #144
All fine! Thanks.

[2018-02-01 18:27] #144 closed

[2018-02-16 15:53] krasin-ga opened #150 "LocateException after trying to locate root dependency from child container"
Code to reproduce:
[code]

[2018-02-16 16:04] krasin-ga opened #151 "ReflectionService.GetPropertiesFromObject method is not thread safe"

[2018-02-16 16:10] krasin-ga opened #152 "LocateException when resolving factory dependency with extra data"
Code to reproduce:
[code]

[2018-02-16 17:17] ipjohnson commented on #151
I've committed a change for this but I used the wrong bug number so it will show up under 152

[2018-02-16 17:17] #151 closed

[2018-02-16 17:21] ipjohnson commented on #148
@davidkeaveny I'm going to close this out and plan to do a release in the next couple days. If you have any other issue let me know.

[2018-02-16 17:21] #148 closed

[2018-02-16 17:22] ipjohnson commented on #149
@davidkeaveny did the unit test for dectorators work for you? Also what are your thoughts on C# extension vs a member on the interface?

[2018-02-16 17:37] ipjohnson commented on #150
hi @krasin-ga

By design Grace won't look for dependencies in child containers unless you configure it to (for performance reasons). You can configure it on an individual basis or on the container wide basis (usually you can get away with just doing it in certain spots).

Try changing the RootDependency registration to this

[code]

[2018-02-16 18:42] krasin-ga commented on #150
Hello! Thank you for the quick reply. 👍
How can i configure it on container wide basis? I have dependencies that must be available only to child scope, but child scope must be able to resolve dependencies from root scope.

[2018-02-16 18:49] ipjohnson commented on #150
You can change the constructor selection behavior to be dynamic all the type. This make all constructor selection dynamic dependent on what's available and it will also make all paramters dynamic and resolvable from child containers.

[code]

[2018-02-16 18:56] ipjohnson commented on #152
I've checked in a change to address this but it won't be available till next release (hopefully this weekend), [Here](https://github.com/ipjohnson/Grace/blob/dev/tests/Grace.Tests/DependencyInjection/ExtraData/ExtraDataLocateTests.cs) are some tests for this change.

You will have to options for your registration factory.

[code]

[code]

[2018-02-16 18:56] #152 closed

[2018-02-16 19:12] ipjohnson commented on #124
I'm going to close this out as C# extensions can be used to simulate this.

[2018-02-16 19:12] #124 closed

[2018-02-16 19:12] ipjohnson commented on #103
after thinking some more about this I'm going to close it till someone else brings it up as I've not had an problems

[2018-02-16 19:12] #103 closed

[2018-02-16 19:14] ipjohnson commented on #128
I'm going to close this out in favor of each developer doing C# extensions to implement their own specific flavor for registration

[2018-02-16 19:14] #128 closed

[2018-02-16 19:44] krasin-ga commented on #150
Is there something bad in doing something like this?
[code]

[code]

Somehow its working 33x faster than using dynamic constructor selection.

[2018-02-17 15:05] ipjohnson commented on #150
@krasin-ga I don't think that's going to work the way you want it to. That said your idea gave me a thought of maybe there is a way to use IMissingExportStrategyProvider to provide strategies to route missing dependencies to the child container. I'll see if I can find some time to put together a prototype of what I'm thinking.

[2018-02-19 13:57] krasin-ga commented on #150
It would be nice, thank you! 👍

[2018-02-21 01:56] davidkeaveny commented on #149
It works flawlessly 👍

Would the extension method basically replace the `.When.MeetsCondition(new WhenDecoratingCondition(typeof(BaseCommand<>)))`? It would certainly clean up the registration process a little more, but it's not essential.

[2018-02-21 02:23] davidkeaveny commented on #149
Hmm, maybe I jumped the gun a little bit - the first decorator that I add works flawlessly (the `LoggingCommandHandlerDecorator<>` in my example), but when I then add the registration for another decorator (the `ValidatingCommandHandlerDecorator<>`) then Grace fails to resolve the type.

I've tried switching it round, and get the same result - register one decorator, all is good; register two deco

[2018-02-21 14:13] ipjohnson commented on #149
Hmm, I can see the piece of code that must have failed to end up in that situation (it's having an issue building the closed generic type for activation).

Would it be possible for you to create a small sample using your types that you want to decorate and the decorators that are failing? You can remove the logic from the classes as I think it's probably some corner case of generics that I'm missi

[2018-02-21 14:22] ipjohnson commented on #150
@krasin-ga I've thought some more about the problem and I can see to ways of doing it but they both have caveats.

* Use  IMissingExportStrategyProvider to forward missing calls to the current requesting scope. While this could technically work if you happen to miss a registration it's not going to fail gracefully it's going to go into an infinite loop and take down the whole app.
* Use IInjection

[2018-02-27 10:44] krasin-ga commented on #150
Why not use scope.CanLocate() to determine what to resolve with child contrainer?

I tried to add it to the InjectionContextValueProvider just to test if it will work:
![image](https://user-images.githubusercontent.com/11534678/36724163-610115b0-1bc3-11e8-93e8-b3a30bbcf254.png)

And everything seems to work as expected.

[2018-03-01 12:25] ipjohnson commented on #150
@krasin-ga if that's working for you perfect. My concern was that CanLocate is a hash lookup and then a list lookup so it's slightly costly (certainly not like dynamic constructors but not the fastest solution).

[2018-03-21 09:21] davidkeaveny opened #153 "Bulk registration of open generics (part 2)"
Continuing from https://github.com/ipjohnson/Grace/issues/148, I've got a slightly different issue; previously, I was registering all implementations of the following:

[code]
using the following code in a configuration module:
[code]
then I would resolve them thusly:
[code]
and there was much rejoicing.

Now however, I want to change my resolution of the type to be like this:
[code]
but I am gett

[2018-03-21 11:29] ipjohnson commented on #153
@davidkeaveny that's a very interesting problem I would have assumed they all work but generics can be tricky. I'm heading out on vacation tomorrow so I don't think I'll have time to look at this till next week.

Would it be possible to put together a simple solution showing this and send it along?

[2018-03-22 00:50] davidkeaveny commented on #153
Repro attached: [Cqrs.zip](https://github.com/ipjohnson/Grace/files/1835657/Cqrs.zip)

I tried replacing Grace with StructureMap and got something similar, although SM gave me a compile-time error when I tried to explicitly register the type.

[2018-04-04 12:29] ipjohnson commented on #149
Thanks @davidkeaveny  that was very helpful. I was able to replicate the problem and fix it. I should be able to find some time this weekend to look at the other generic issue you raised but I'm not sure what/if there is a fix for it.

Either way I should be able to get a new version out for you this weekend. In the mean time if you want you can try the nightly build at https://ci.appveyor.com/nug

[2018-04-07 03:24] ipjohnson commented on #150
@krasin-ga I'm going to close this. IF you have any more questions feel free to open a new issue

[2018-04-07 03:24] #150 closed

[2018-04-08 17:27] ipjohnson commented on #149
I've released version 6.3.3 to address this issue and I'm marking it closed

[2018-04-08 17:27] #149 closed

[2018-04-09 03:54] davidkeaveny commented on #149
Looks great, @ipjohnson , thanks!

[2018-04-09 04:00] davidkeaveny commented on #153
Looks like you're right; in the end, I took the approach used by Mediator, which has a wrapper which is able to make the necessary conversion from `IQueryHandler<TestQuery, TestModel>`  to `IQueryHandler<IQuery<TestModel>, TestModel>`.

[2018-04-09 04:00] #153 closed

[2018-04-09 04:07] davidkeaveny opened #155 "Conditional resolution of decorators"
I have the following interface:

[code]

which I then want to decorate with a validating decorator:

[code]
At the moment, Grace throws a `LocateException` if it cannot resolve the dependency - how can I make it either a) return null (which I then handle internally) or b) return a default implementation?

[2018-04-10 05:59] davidkeaveny commented on #155
How does the usage of `.WithCtorParam()` work with an open generic registration? If my current registration code is:

[code]

[2018-04-10 12:28] ipjohnson commented on #155
I think this should do it.

[code]

[2018-04-19 13:09] davidkeaveny opened #156 "Injecting values at runtime"
Is it possible to resolve a type from the container, change some properties on it, then use that instance when resolving other types that take the first type as a dependency, rather than returning a new instance?

From what Intellisense suggests, the `extraData` parameter on `Locate()` should be my friend, so here's the basics of a test that demonstrates what I want to achieve (I've attached a pro

[2018-04-22 09:10] PawelGerr commented on #156
Hi, I've discovered this DI framework 5 min. ago, so I'm not an expert :)
But the feature set and syntax is so similar to autofac, so I downloaded your sample and tried something I would do in autofac and it worked. Your unit test pass.

I've changed the line from
[code]
to
[code]

[2018-04-22 11:14] ipjohnson commented on #156
Hi Guys,

I meant to comment on this earlier but life has a funny way of going sideways. The reason david specific syntax doesn't work is because grace only looks in the extra data context as a last resort.

Paul's syntax is correct because you're telling Grace hey I'm commiting to passing in a Context so Grace knows to use the instance that is passed.

To go along with Paul's suggestion I'm also

[2018-05-09 23:36] davidkeaveny commented on #142
I've got this working; if I were to contribute the code back to the project, what's the best way of doing it? Create a similar solution and assembly to the Grace MVC support?

[2018-05-10 12:12] stephenlautier opened #157 "Multi tenant support?"
I'm currently looking into multi-tenant DI for .NET core (aspnet and console e.g. Microsoft Orleans), and I'm currently seeing options, and found out **Grace** which seems promising so I'm trying it.
Does this support multi-tenancy? My guess is yes since it supports the **child containers**; if so do you have any examples or suggestions how multi-tenancy can be achieved with this library? Thanks!

[2018-05-11 10:08] stephenlautier commented on #157
I'm trying to implement this myself however im running into some issues.

Basically this is what I would like to have:

 - `RequestContext` should be scoped per request - filled from another middleware
 - `Tenant` should be per request according to the tenant (based on host)

[code]

So basically my current issue is im loosing the current scope, since im creating a new child scope

Test proj https

[2018-05-11 14:41] ipjohnson commented on #157
Hi @stephenlautier

I have an idea of how to accomplish what you want to do but I want to test it before I post it. I'll see about putting together a sample this evening or tomorrow morning and send it along.

[2018-05-11 15:12] stephenlautier commented on #157
Thanks @ipjohnson!
I had implement a working example to be completely honest, if you want to look at it the source is here https://github.com/stephenlautier/.netcore-labs/tree/master/Slabs.AspnetCore/Infrastructure/Tenency (i took some ideas from [saaskit](https://github.com/saaskit/saaskit)). Its actually quite resusable as well, so can be extracted in a library easily.

Usage is as following

[c

[2018-05-11 19:45] ipjohnson commented on #142
Sorry meant to reply to this earlier. If you want you can create a project like the MVC one or you can send me a sample of what you have working and I can create a project. Which ever is easier for you.

Thanks for helping out.

[2018-05-12 02:41] ipjohnson commented on #104
I'm going to close out this issue

[2018-05-12 02:41] #104 closed

[2018-05-12 02:42] ipjohnson commented on #131
For the moment I'm going to close this out.

[2018-05-12 02:42] #131 closed

[2018-05-14 11:46] ipjohnson commented on #157
@stephenlautier I don't have anything specific created for this because there is no standard way to define what a tenant is or how it's separated (i.e. the IRequestInfo is not standard). That said you could probably wrap that logic up into a C# extension.

[code]

Do you have a lot of these services?

[2018-05-14 12:02] stephenlautier commented on #157
Yes, I understand it's not standard, I'm just thinking of how best to do it.
Not entirely sure how many we will have but I do think we have quite some, but to be honest we will have more on Orleans rather than in the web, in web probably we won't have much.

Thanks for the extension, something like that might suffice 👍

[2018-05-14 12:10] ipjohnson commented on #157
If there was some way to identify them programmatically you could use the bulk registration methods but you'd need to separate the types into different namespace or mark them with attributes (something to distinguish them).

[2018-05-16 13:28] stephenlautier commented on #157
I'm trying to use this for Orleans and currently no luck, there seems to be an issue when using it with Grace (see screenshot below).

![image](https://user-images.githubusercontent.com/3908723/40119117-0ec35722-591c-11e8-8be9-dcf3dc892ab6.png)

I had tried the same with StructureMap because it was mentioned in an issue in Orleans which now should work (even tho at the time of writing it doesnt) b

[2018-05-16 13:30] stephenlautier commented on #157
What i've noticed is that by using the microsoft DI it returns `null`, so basically Grace is not supporting null, perhaps any way to configure it? or I had misconfigured something?

![image](https://user-images.githubusercontent.com/3908723/40119822-f082edc0-591d-11e8-9baf-c66f16c46b0a.png)

[2018-05-16 15:14] stephenlautier commented on #157
perfect it worked! (and also it didnt had the issue which structuremap had)

[2018-05-16 18:14] stephenlautier opened #158 "TryAdd not seem to be respected"
I found a small thing, which I'm not entirely sure if its a bug or not;

[code]

Instead its returning `DefaultGrainActivator` which that one is being registered by the Orleans via `services.TryAddSingleton<IGrainActivator, DefaultGrainActivator>();`, seems like either `Populate` is registering before (perhaps lazy?) or its not respecting the `TryAddXXX`

[2018-05-16 19:58] ipjohnson commented on #158
@stephenlautier If I remember correctly the TryAddSingleton method is checking if the service is registered in `services` instance and registering it in the `services` instance when it's not found (I need to double check that). Try moving the `container.Configure` call below the Populate call and you should get the behavior you are looking for.

Just as an FYI Grace you can register many implement

[2018-05-17 09:37] stephenlautier commented on #158
Yes, TryAddSingleton thats how i know it as well.

As you suggested it hard worked as well :). I thought `Populate` had to be last since it returns the `IServiceProvider`, but even after reconfigure later it still work correctly. Thanks!

[2018-05-17 18:09] stephenlautier commented on #157
I'm trying to do some extensions methods for Tenants container registration, and currently im trying to do something like:

[code]

Basically a little bit more dynamic `ExportFactory` is what i need - the problem is since im passing `object`, its not resolving for the type correctly, any other way i can do this?

[2018-05-17 18:29] ipjohnson commented on #157
@stephenlautier I'm not sure I follow 100%. Are you attempting to true and intercept the request for interfaceType and then add tenant key in when locating interfaceType again?

[2018-05-17 19:29] stephenlautier commented on #157
Yes pretty much what you said. I want to register an `ExportFactory` as your suggestion (above per scope), but now what im doing is register "bulk" were i wont have the luxury to use generic types.

Sorry i didnt give you full implemetenation, I have the following
[code]
I have those methods, the generic one works but the non generic doesnt due to the `object` since im not registering the interfac

[2018-05-17 19:56] ipjohnson commented on #157
@stephenlautier ok let me think about it a bit. While I understand what you want to do it's not exactly straight forward.

There is another cross cutting feature that might be very helpful for this. Essentially there is this [interface](https://github.com/ipjohnson/Grace/blob/master/src/Grace/DependencyInjection/IInjectionValueProvider.cs) that allows you to plug linq expressions in when dependenc

[2018-05-17 21:17] stephenlautier commented on #157
@ipjohnson great thanks! hmm thats interesting, sounds kind of interception for the resolver

For my immediate issue i did an ugly workaround via reflection, basically invoking my other generic method via reflection as below e.g.

[code]

[2018-05-17 22:57] ipjohnson commented on #157
@stephenlautier that's a good way of describing it. [Here](https://github.com/ipjohnson/Grace.DependencyInjection.Extensions/blob/master/src/Grace.AspNetCore.MVC/Inspector/BindingSourceMetadataValueProvider.cs) is an example of how I use it in the MVC extensions where it inspects each dependency for binding attributes ([FromQueryString], etc)

Your work around seems reasonable to me I think you co

[2018-05-18 09:11] stephenlautier commented on #157
Yes thats what I was looking for, much cleaner :).
I knew for the `Export` you could do that not sure why i didnt try to do the same for the `ExportFactory` 🤦‍♂️

[2018-05-18 14:03] ipjohnson commented on #158
The `Populate` call can be called at any point though I would recommend it be called first because then the registration are treated as the defaults and anything registered with the container after that will override what ever came from the services collection.

Can I close this out?

[2018-05-18 17:17] stephenlautier commented on #158
Yes, thanks for your help and suggestion!

[2018-05-18 17:17] #158 closed

[2018-05-19 02:41] ipjohnson opened #159 "Investigate using SourceLink"
Currently Symbols are being published but it's always been really hard to get symbols setup correctly. SourceLink looks to be really simple and could be the answer for easily debugging Grace

[2018-05-19 15:14] ipjohnson commented on #156
I'm going to release 6.3.4 with this fix and close this issue.

[2018-05-19 15:14] #156 closed

[2018-05-19 15:17] ipjohnson commented on #159
completed

[2018-05-19 15:17] #159 closed

[2018-05-22 17:46] SeriousM opened #162 "Combination with SimpleFixture"
Hi!
I'm trying to combine Grace with SimpleFixture.
My attempt is as follows:

[code]
Sorry for the code but it's the smallest example I could create.

The problem is now that `context.TargetInfo.InjectionType` is empty. I guess it's because I use `Populate` from SimpleFixture instead of `Locate` from the container instance.

Is there a way to tell Grace which instance is about to get populated?
I

[2018-05-23 09:48] SeriousM opened #163 "Locate over two Scopes"
Hi, I'm trying to locate a service in a root scope which depends on an service in a child scope.

[code]

Since I operate on the childScope the dependencies should be satisfied as I can locate everything separately.
What do I do wrong?

This is the content of "WhatDoIHave":
[code]

[2018-05-23 10:19] SeriousM opened #164 "Default Lifestyle for Scope/Container"
How can I set a default lifestyle?
I found `IActivationStrategy.Lifestyle` and tried to get an instance to manipulate it but there are soooo many services so that I wasn't able to find one.

Is there a way to set a default value?

[2018-05-23 11:52] ipjohnson commented on #164
By default the lifestyle is transient, there isn't anything out of the box to assign lifestyles. What's the use case you are trying to accomplish?

[2018-05-23 12:00] ipjohnson commented on #162
@SeriousM I took a look last night and ultimately I think the reason `context.TargetInfo.InjectionType` is empty is because it's only present when the type is being injected into something (that the container knows about) and there is no way to assign it as StaticContext is created when the method is first executed.

I think what you could do instead is pass the data in through the extra data para

[2018-05-23 12:08] SeriousM commented on #164
I work with a legacy system that contains millions of static stateful classes.
I will replace the statics with instances which are singleton and wanted to avoid telling that every singe element is singleton. Instead, everything is singleton and only a few are different.

[2018-05-23 12:11] ipjohnson commented on #163
For performance reasons by default parent scopes don't look for dependencies in child scope (it's expensive). If it was a constructor parameter you could mark it as "Dynamic" (tells the container to look in child scopes first) but as I look at it I think that option is missing from `PublicMemeberInjectionSelector`.

I'll see about adding it in the coming days.

[2018-05-23 12:16] ipjohnson commented on #164
Gotcha, ok so you have a couple options.

1) Use the `Export(IEnumerable<Type>)` method that allows for bulk registration of types and allows assigning a lifestyle
2) Implement an `IActivationStrategyInspector` and set the lifestyle there (you have to cast the `IActivationStrategy` to `IConfigurableActivationStrategy` to set lifestyle but that shouldn't be a problem)

[2018-05-23 13:49] SeriousM commented on #162
But you guessed pretty well!
The logger of Serilog (and NLog, log4net, etc.) can be created for a context in which the logger logs. Usually this is the class name so that one is able to determine the source of the log.
To achieve this I create the `ILogger` on the fly in context with the target type.

Your suggestion was a good starting point, but now I have two problems:
* The export factory gets

[2018-05-23 13:52] SeriousM commented on #163
I just copied the implementation of `PublicMemberInjectionSelector`. Do I have to add `IsDynamic = true` to `yield return new MemberInjectionInfo...` to get this lookup behavior?

[2018-05-23 14:15] SeriousM commented on #164
That worked pretty well, thank you!

[2018-05-23 14:16] SeriousM commented on #164
Here is the code for others that have the same task:

[code]

[2018-05-23 14:30] SeriousM commented on #163
Another approach: Can I achieve the desired behavior if I add a MissingExportStrategyProvider?
The flow would be to locate the RootService but the ChildService can't be found. My MissingExportStrategyProvider would go to the ChildContainer and Locate the service. This way it's not so expensive I guess?

[2018-05-23 14:37] ipjohnson commented on #163
@SeriousM I actually kinda like the MissingExportStrategyProvider because it kind of fills in the blanks by routing calls to the child container.

Your question of adding IsDynamic I believe that would work but I think your other idea is better.

[2018-05-23 14:38] ipjohnson commented on #164
That's pretty much what I was thinking.

[2018-05-23 14:42] SeriousM commented on #163
That's how you can do it with MEF as every container that you create is a ExportProvider that can be used to compose other containers - actually the same concept as the MissingExportStrategyProvider.

Could you help me creating the Provider? I just have too less insight in all the types you have...

[code]

Btw, a few lines in the wiki about your namings of items would help tremendously (eg. Compi

[2018-05-23 14:44] ipjohnson commented on #162
@SeriousM you are correct the injection context is not shared through the Singleton lifestyle. That said the logic for the is in the lifestyle itself so it can be overridden. I'll see if I can put together lifestyle that does what you want to do.

[2018-05-23 14:45] ipjohnson commented on #163
I'll see if I can put something together in the next day or two. It's definitely possible I'm just busy with a couple other things this week.

[2018-05-23 14:49] SeriousM commented on #162
Great, thank you!

[2018-05-23 14:51] SeriousM commented on #163
Perfect, thank you!

[2018-05-23 14:54] #164 closed

[2018-05-25 14:18] SeriousM commented on #163
Hi @ipjohnson, were you able to investigate the issues? Thank you!

[2018-05-25 14:29] ipjohnson commented on #163
@SeriousM I did but I I ran into an infinite loop if the dependency is missing. I'm looking at another option to using an `IConstructorExpressionCreator`

[2018-05-25 16:28] ipjohnson opened #166 "Add new constructor selector for child container"
Add a new constructor selector that will forward missing dependencies to child scope. This is to support issue #163

[2018-05-25 16:31] ipjohnson opened #167 "Add locate from child option for member injection"
Currently when a dependency is missing for a member the injection context is checked as well as the current scope. The child scope is not checked. This new member injection will check the child scopes for dependencies.

This is an opt in feature to support issue #163

[2018-05-25 16:35] ipjohnson opened #168 "Add locate from child option for method injection"
Currently when locating a dependency for a method if it is not found the injection context and scope are checked but not child scopes. This will offer the ability to check child scopes if the dependency isn't found in the current container.

This will be an opt in feature to support issue #163

[2018-05-25 17:07] ipjohnson commented on #162
I've added a test showing custom singleton [here](https://github.com/ipjohnson/Grace/blob/dev/tests/Grace.Tests/DependencyInjection/Lifestyle/CustomSingletonLifestyleTests.cs) that passes the injection context through during construction

[2018-05-25 18:04] ipjohnson commented on #166
Closing in favor of IMissingDependencyExpressionProvider

[2018-05-25 18:04] #166 closed

[2018-05-25 18:04] ipjohnson commented on #168
Closing in favor of `IMissingDependencyExpressionProvider`

[2018-05-25 18:04] #168 closed

[2018-05-25 18:04] ipjohnson commented on #167
Closing in favor of `IMissingDependencyExpressionProvider`

[2018-05-25 18:04] #167 closed

[2018-05-25 18:06] ipjohnson opened #169 "Add IMissingDependencyExpressionProvider"
This interface allows the developer to provide linq expressions for missing dependencies. Related to issue #163

[2018-05-27 16:50] ipjohnson commented on #163
@SeriousM I've pushed version 6.4.0-Beta679 to nuget. It contains a new feature `IMissingDependencyExpressionProvider` you can find an implementation that should work for you use case [here](https://github.com/ipjohnson/Grace/blob/dev/tests/Grace.Tests/DependencyInjection/AddOns/MissingDependencyExpressionProviderTests.cs)

[2018-05-29 13:55] SeriousM commented on #163
This solution seems to work!
I'm honest, I don't understand all the magic in the ChildContainerExpressionProvider. Are you about to add the ChildContainerExpressionProvider to the nuget package?

[2018-05-29 15:22] ipjohnson commented on #163
At first I was going to just leave it in the tests but if you think it would be useful to have it part of Grace proper I’d be willing to move it in.

[2018-05-29 15:53] SeriousM commented on #163
Seems it is not fully the way it should work.

Imagine this construct:
Root-Chuld1-Child2

Root has serviceA depending on serviceB in Child1.

Child2 should locate serviceA. It finds it in root but not serviceB.
Now the search should start on Child3 and traverse up till root to find the
missing piece (in Child2).

Do you think this is doable?

Another question: I'm able to hide serviceB in Child2

[2018-05-29 16:35] ipjohnson commented on #163
Hmmm I’m actually surprised it’s not working that way. Would it be possible to put together a simple console app? Also do you happen to have it going through a lifestyle?

I’ll take a closer look this evening

[2018-05-30 01:14] ipjohnson opened #170 "Wrong scope used when locating in parent scope"
The wrong injection scope is being used when calling `injectionScopeParent.LocateFromChildScope` in `InjectionScope.InternalLocate`. This does not effect the disposal scope/tracking of objects as DisposalScope is separate from injection scope. This defect is only noticeable when working with child scopes and calling locate directly for dependencies.

Relates to issue #163

[2018-05-30 04:19] ipjohnson commented on #147
Sorry took me way to long to figure this out but the reason logging got turned on by default is because of auto registration. Long story short it's probably best to turn off auto registration for the whole "Microsoft" namespace

[code]

[2018-05-30 17:15] SeriousM commented on #163
Hey @ipjohnson, I have bad news for you.
I will be honest with you: I've spent so many hours to get your container running and wasn't able to get it working with my scenarios.
I switched to DryIoc and have to abort our little journey.

Here is my testsuite if you want to look at it: https://github.com/SeriousM/DryIocTests

I home you're doing well.
Bernhard

[2018-05-30 17:15] #163 closed

[2018-05-30 18:05] ipjohnson commented on #163
No worries it’s not for everyone/all situations.

[2018-06-02 15:10] #147 closed

[2018-06-03 05:28] krisztiankocsis commented on #147
Thanks for the help!

[2018-06-04 16:02] mcdis opened #171 "[Bug] Behavior 'AllowInjectionScopeLocation' doesn't work with 'ConstructorSelectionMethod.Dynamic' behavior"
test:
[code]

[code]

[2018-06-04 16:04] mcdis opened #172 "[Bug] Behavior 'AllowInjectionScopeLocation' doesn't make 'IInjectionScope' locatable thru Locate<IInjectionScope>"
[code]

[2018-06-04 16:09] ipjohnson commented on #171
That does sound like a bug. I’ll see if I can find some time to look at this in the next few days.

[2018-06-04 16:18] ipjohnson commented on #172
I believe I know why it’s not returning itself. I’ll look to make this change in the coming days and release a beta with the other issue you raised

[2018-06-05 01:09] ipjohnson commented on #171
I've checked in a change for this issue. I have one more thing that I want to address for version 6.4.0. I'll try and get a new version out to nuget this weekend. Till then you can try the nightly nuget feed below

https://ci.appveyor.com/nuget/grace-master

[2018-06-05 01:10] ipjohnson commented on #157
@stephenlautier how did things turn out? Were you able to get things working?

[2018-06-05 15:30] stephenlautier commented on #157
I have most of the stuff working now pretty much.

I do have a question tho, if I have a context which I'm able to iterate all over all tenants, is it possible to get the instances per tenant (see example below)

[code]

I'm using the exact implementation as you had suggested, with the export factory and set in the context.

I had tried something as above but still it didnt work.

[2018-06-05 22:29] ipjohnson commented on #157
Ok after looking at it I think I know what is happening the IInjectionContext that contains the ITenant is not passed through the factory. I think you'll need to pass it by hand.

[code]

[2018-06-05 22:54] stephenlautier commented on #157
Cool i will give that a shot!

This might also fix another issue i was having before i left work today. I was switching an existing service to multi-tenant and for this specific case in the ExportFactory i did have the tenant but after it was being resolved in the service it was being null

[2018-06-06 10:33] stephenlautier commented on #157
Still its not working with this one. When i see the stack tho its not calling the factory I implemented which is named `ExportPerTenantFactory` (that contains the code as you pasted)

This when using `_exportLocatorScope.Locate<IContentManagementResolver>(withKey: brand.Id, extraData: new { tenant = brand });`

![image](https://user-images.githubusercontent.com/3908723/41032675-6c1bb18a-6984-11e8-

[2018-06-06 12:05] ipjohnson commented on #157
@stephenlautier Looking at the stack trace I see that a Singleton Lifestyle is in the resolution chain. When going through most lifestyles the injection context is dropped. The theory being if something is registered as a singleton is shouldn't depend on anything in the context as it could be different depending on the order of when the singleton is resolved.

I had someone else ask a similar ques

[2018-06-06 12:45] stephenlautier commented on #157
Thanks for your reply.

Regarding child containers; No im not using any, just factory + `ExtraData` extra as per your suggestion.

Yes, it is set as a singleton to be honest, what i was a bit confused is during my initial sample tests I had tried both Singleton/Scoped, and with singleton, it was creating an instance per tenant as a singleton which is very efficient (not 100% sure if it was creatin

[2018-06-06 14:58] ipjohnson commented on #157
The default lifestyle is actually transient. I have an example of how to set a default lifestyle to something else but out of the box there is no default lifestyle.

I wish I had some more time to setup an example for this stuff but things have been exceptionally busy.

[2018-06-07 00:42] ipjohnson opened #173 "Add AllowNullReturn"
To allow for finer grained control over returning null from factories it would be good to add AllowNullReturn for all factories.

[2018-06-07 00:47] ipjohnson commented on #173
this has been completed

[2018-06-07 00:47] #173 closed

[2018-06-07 00:48] ipjohnson commented on #169
This has been completed

[2018-06-07 00:48] #169 closed

[2018-06-07 01:56] ipjohnson commented on #171
I've released 6.4.0-RC685 with this fix

[2018-06-07 01:56] #171 closed

[2018-06-07 01:56] ipjohnson commented on #172
I've released 6.4.0-RC685 with this fix

[2018-06-07 01:56] #172 closed

[2018-06-08 12:08] mcdis opened #174 "Resolving dependency registered in parent scope with child scope override deps. Resolution context lost."
I'm using dynamic constructor injection (```ConstructorSelection = ConstructorSelectionMethod.Dynamic```).

parent scope:
 - ```ExportAs<CanvasPlayerImpl,ICanvasPlayer>();```

CanvasPlayerImpl depends on ICanvasPlayerSettings
child scope:
[code]
Exception *can't import ICanvasPlayerSettings*:
```child.Locate<ICanvasPlayer>()```
but: ```child.Locate<ICanvasPlayerSettings>()``` executed successfuly.

[2018-06-08 17:26] ipjohnson commented on #174
I've added a unit test showing the behavior you are describing and it's working correctly. Can you provide a console app showing the behavior you're seeing and I can try and debug it.

One thing I will say it that when passing through some lifestyles, context is dropped but that's by design (singleton in particular).

If you are on the latest version vs 2017 and have [Source Link](https://github.c

[2018-06-09 09:49] mcdis commented on #174
Hi!
I've figured out that the Grace crashed when container chain is longer.
Look at the code:
[code]

[2018-06-09 09:59] mcdis commented on #174
I found that the above code works properly on the latest 6.4.0-RC685 but crashed on 6.3.4

[2018-06-09 11:34] ipjohnson commented on #174
ok that' makes sense I address an issue that affected nested child scopes [here](https://github.com/ipjohnson/Grace/commit/3e9938c9b6e31b485370b02ffbdd8d1dbffc81e2) and it is what you described of the child scope being lost in the resolution chain

[2018-06-09 11:43] mcdis commented on #174
Yeah!
Waiting for release...

[2018-06-09 11:43] #174 closed

[2018-06-16 01:36] ipjohnson opened #176 "use nameof"
Currently there are a number places where methods are looked up using reflection and a bare string is used instead of nameof. This ticket is to track the changes

[2018-06-16 02:40] ipjohnson commented on #174
I've released 6.4.0

[2018-06-16 18:27] HamedFathi opened #177 "Serilog integration"
Does `Grace` work with [Serilog](https://serilog.net/)? I did not find ant integration library for that.

[2018-06-17 12:28] ipjohnson commented on #177
Hi @HamedFathi

Grace was refactored and the ILogger interface has been removed. That said it was only used by Grace to log debug information during resolution and wasn't really used.

Is there a specific use case you are trying to solve?

[2018-06-17 17:16] HamedFathi commented on #177
@ipjohnson Hello

Thanks for your great work :) Grace is awesome.
No there is not a specific use case I checked your NuGet packages and I found log integration for all logging libraries except Serilog so I asked the question.

In summary, We don't have any limitation for logging with Grace Am I right?

[2018-06-17 18:02] ipjohnson commented on #177
Correct, there are no limitations.

[2018-06-26 08:52] mgth opened #178 "ExportPriority Attribute not used"
I used ExportPriority Attribut but after ExportAssembly all exports still have a priority of 0.

[2018-06-26 12:18] ipjohnson commented on #178
Hmmm try adding `.ExportAttributedTypes()` to the call as by default grace won't process attributes on a type.

If it's still and issue I can take a look this evening.

[2018-06-28 01:05] ipjohnson commented on #178
@mgth did that work for you?

[2018-07-04 13:19] davidkeaveny opened #179 "TypeInitializationException when scanning for assemblies"
Maybe I'm just tired and had enough of banging my head against .NET's assembly loading code, but I cannot get the following code to run:

[code]

Instead, it throws a TypeInitializationException, which is complaining about loading Grace 4.0.2 (which is the version that Grace.Net links to, although I am running Grace 6.4.0). I've tried adding an assembly binding redirect for Grace to 6.4.0 but to n

[2018-07-05 13:29] ipjohnson commented on #179
@davidkeaveny you aren't missing anything I started signing Grace a while back and it makes it incompatible with some of the older side libraries like Grace.Net. That said now that .netstandard 2.0 support Assembly.Load I can upgrade Grace.Net to both standard and .net 4.5.

For the moment you can probably just copy the methods from [here](https://github.com/ipjohnson/Grace/blob/4.0/Source/Grace.N

[2018-07-06 18:14] ipjohnson commented on #179
@davidkeaveny So I took a look at the `Grace.Net` library last night and everything other than the `Types` static class is related to `System.Configuration`.

I think what I'm going to do is create a documentation section for this and put the class their and you can just add it directly to your project. The reality is they are just simple wrappers around `Assembly.Load` and don't require their own

[2018-07-12 06:50] shmutalov opened #180 "Cannot handle cyclic dependencies (StackOverflowExpeption)"
Hello!

I just started writing Nancy.Bootstrapper wrapper over Grace IoC and collided with error.
My lib:
https://github.com/shmutalov/Unofficial.Nancy.Bootstrappers.Grace

All tests passed except one (if run them one by one), which causes a `StackOverflowException`:
- [Should_resolve_module_with_dependency_on_RouteCacheFactory](https://github.com/shmutalov/Unofficial.Nancy.Bootstrappers.Grace/blo

[2018-07-13 17:29] ipjohnson commented on #180
Hi @shmutalov

I'll try and take a look at this over the weekend. I've had Nancy running with Grace in the past so I don't envision this being a major change (fingers crossed).

[2018-07-16 12:08] ipjohnson commented on #180
OK so I took a look this weekend and the issue revolves around the fact that SingletonLifestyle eagerly creates singletons for performance purposes. I added a deferred singleton lifestyle option for this case.

All that said Nancy's built in container is going to be much faster than child containers for Grace. It might be interesting to offer a second option that's based on lifetime scopes instead

[2018-07-16 12:31] shmutalov commented on #180
Interested.

I looked to all foreign bootstrapper implementations for Nancy and saw that one or two of them implements per-request type registration. Maybe Grace implementation not need that too, idk

[2018-07-19 12:47] ipjohnson commented on #180
Sorry I meant to respond to this earlier.

I was thinking you could do a wrapper like [this](https://gist.github.com/ipjohnson/475191ddecdbd8ffde651f60b08e8472) and then the bootstrapper would look something like [this](https://gist.github.com/ipjohnson/a5e281fac07f0e927beb3ab9abd14bc3).

As I'm not well versed with Nancy it's quite possible it's not exactly right but I think it's a decent start.

[2018-07-25 17:51] ipjohnson commented on #180
@Shmutalov did my suggestion make sense?

[2018-07-27 10:42] shmutalov commented on #180
![image](https://user-images.githubusercontent.com/8098898/43316713-952cf456-91b3-11e8-945a-6ed25bffe58b.png)

Cyclic dependency test passed!

[2018-07-27 11:59] ipjohnson commented on #180
Very cool. Let me know if the other two broken tests are an issue you want me to look at or related to the fact that per request registration is not supported.

[2018-07-27 12:13] shmutalov commented on #180
IDK, is it per request registration issue or not. But test `GetAllModule_Returns_As_MultiInstance` fails with `null` check - container didn't located a module.

https://github.com/shmutalov/Unofficial.Nancy.Bootstrappers.Grace/blob/develop/Unofficial.Nancy.Bootstrappers.Grace.Tests/GraceNancyBootstrapperFixture.cs#L44

[2018-07-27 13:15] ipjohnson commented on #180
I can take a look this evening

[2018-07-29 15:31] ipjohnson commented on #180
@shmutalov so I took a look and it seems to be related to per request registration. You mentioned that a couple of the containers had implementation that didn't support per request registration. Can you point me in the direction of one or two of these implementations and I can investigate them.

[2018-07-30 03:44] shmutalov commented on #180
1. Ninject
https://github.com/NancyFx/Nancy.Bootstrappers.Ninject/blob/master/src/Nancy.Bootstrappers.Ninject/NinjectNancyBootstrapper.cs#L134

2. Unity
https://github.com/NancyFx/Nancy.Bootstrappers.Unity/blob/master/src/Nancy.Bootstrappers.Unity/UnityNancyBootstrapper.cs#L151

3. Autofac
https://github.com/NancyFx/Nancy.Bootstrappers.Autofac/blob/master/src/Nancy.Bootstrappers.Autofac/AutofacNan

[2018-07-31 15:59] scovel opened #181 "Import Keyed injects wrong instance"
Multiple Keyed (Named?) Instances.  Constructor wants a specific key.  Grace injects the wrong instance.  Am I doing something wrong?  See //returns Mongo below...

.Net Core (NetStandar 2.0)
Grace 6.4.0

using System;
using Grace.DependencyInjection;
using Grace.DependencyInjection.Attributes;

namespace test
{
    class Program
    {
        static void Main(string[] args)
        {

[2018-08-01 12:16] ipjohnson commented on #181
Hi @scovel

The reason it's returning the mongo is instance is because it's not actually processing the import attribute and picking the last registered instance of IDatabaseFactory. This could be argued to be a bug because it seems like it should throw an export not found rather than picking a keyed export. I'm hesitant to change the behavior in a non major release because even though it's not te

[2018-08-01 12:25] scovel commented on #181
Ian,

Thanks yet again for your quick response!

This is a pattern that is used in MS Unity, “named instances.”  I suspect the other guy was a Unity user like myself in a past life…

Can you give me an example of how to make it work just using attributes?  I’d give it a try.  I’d prefer to use the code I sent you, but if there is a better/working way, I’d give it a go.  I’d definitely vote for add

[2018-08-01 12:44] ipjohnson commented on #181
@scovel for the moment I think it's much easier to make a slight change to the fluent registration to specify the key than set up registration using attributes.

[code]

I'll see if I can find some time this weekend to add the flag as it's shouldn't much work and I'll release a beta for you to try.

That's very cool about your son, very good name :)

[2018-08-01 13:27] scovel commented on #181
That kinda works…

If I add just the one registration, it works.

c.Export<TestDal>().As<ITestDal>().WithCtorParam<IDatabaseFactory>().LocateWithKey("SqlServer");

If I add all 3, it goes back to picking Mongo.

c.Export<TestDal>().As<ITestDal>().WithCtorParam<IDatabaseFactory>().LocateWithKey("Oracle");
c.Export<TestDal>().As<ITestDal>().WithCtorParam<IDatabaseFactory>().LocateWithKey("Mongo");

[2018-08-01 14:46] ipjohnson commented on #181
That makes complete sense. I’ll write a more in depth reply this evening but the short version is I’ll add a flag to process the import attribute automatically and it should solve your issue.

[2018-08-01 14:48] scovel commented on #181
Awesome!  Thanks

From: Ian Johnson <notifications@github.com>
Reply-To: ipjohnson/Grace <reply@reply.github.com>
Date: Wednesday, August 1, 2018 at 10:47 AM
To: ipjohnson/Grace <Grace@noreply.github.com>
Cc: Sean Covel <SCOVEL@travelers.com>, Mention <mention@noreply.github.com>
Subject: Re: [ipjohnson/Grace] Import Keyed injects wrong instance (#181)

That makes complete sense. I’ll write a more

[2018-08-03 12:22] ipjohnson commented on #181
@scovel I've added a flag to process import attributes on constructor parameters. I set it to true by default because it seems like if you went the length to attach an attribute you want it processed.

Would it be possible for you to test it off the nightly nuget feed? I'd prefer to test it before I release an RC to nuget.org.

https://ci.appveyor.com/nuget/grace-master

[2018-08-03 12:25] scovel commented on #181
I was just looking through your dev branch when this email came in.  Sure, I can test it.  I’ll get back to you today.

Sean

From: Ian Johnson <notifications@github.com>
Reply-To: ipjohnson/Grace <reply@reply.github.com>
Date: Friday, August 3, 2018 at 8:22 AM
To: ipjohnson/Grace <Grace@noreply.github.com>
Cc: Sean Covel <SCOVEL@travelers.com>, Mention <mention@noreply.github.com>
Subject: Re: [i

[2018-08-03 12:40] ipjohnson commented on #181
@scovel one thing I did realize when I was working this is that your registration should be tweaked a little.

I think you want

[code]

I don't think you want the extra `As<IDatabaseFactory`> , I think you want only the keyed export.

[2018-08-03 12:41] scovel commented on #181
That would explain why I had each item in the container 2X…

Where do I get the nightly build?

From: Ian Johnson <notifications@github.com>
Reply-To: ipjohnson/Grace <reply@reply.github.com>
Date: Friday, August 3, 2018 at 8:40 AM
To: ipjohnson/Grace <Grace@noreply.github.com>
Cc: Sean Covel <SCOVEL@travelers.com>, Mention <mention@noreply.github.com>
Subject: Re: [ipjohnson/Grace] Import Keyed i

[2018-08-03 14:26] scovel commented on #181
I pulled the dev branch and built it…

It works as expected in my test project.  AWESOME!

Thanks,

Sean

From: Sean Covel <SCOVEL@travelers.com>
Date: Friday, August 3, 2018 at 8:41 AM
To: ipjohnson/Grace <reply@reply.github.com>, ipjohnson/Grace <Grace@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [ipjohnson/Grace] Import Keyed injects wrong instance (#181)

That woul

[2018-08-04 05:30] shahabganji opened #182 "Have some problem with RawRabbit Instantiation"
I was creatng a sample using [RawRabbit](https://github.com/pardahlman/RawRabbit) and as always I used Grace to handle DI. however, I faced an [issue](https://github.com/pardahlman/RawRabbit/issues/363) in which the publisher and subscriber do not work as expected. After investigating through we got suspicious to how the objects are created so I commented the Grace parts and used the default IOC,

[2018-08-04 11:35] ipjohnson commented on #182
Hi @shahabganji

I ran your sample without Grace and I get the following error

[code]

I'm not familiar with RawRabbit so I'm not really sure what I'm looking at. My guess is that the problem has to do with Grace picking a different constructor or activating a type that wasn't expected (it automatically resolves concrete types).

Do you know the specific type that's being constructed incorrectly?

[2018-08-05 04:13] shahabganji commented on #182
@ipjohnson

Your error is due totally to the absence of [RabbitMQ](https://www.rabbitmq.com/), you need to either have it on your machine or docker, if the latter, bear in mind to change the Hostnames and port to what docker exposes.

AFAIK it uses ```RawRabbit.Instantiation.RawRabbitFactory``` to instantiate ```IBusClient``` instances and the resturen value is of Type ```RawRabbit.Instantiation.D

[2018-08-06 15:55] ipjohnson commented on #181
I released an RC version today

[2018-08-06 17:11] mcdis opened #183 "Move GenericFatoryExportStrategy to main assembly"
Move GenericFatoryExportStrategy  from tests to main assembly

[2018-08-06 17:12] mcdis opened #184 "Interception"
Hi Ian,
thank you for your job!
I need to autoregister types as singletone that implement some interface `IFoo` but I don't know exact types.
for example if the class to activate depends on `CustomFoo : IFoo` than `CustomFoo` have to be resolved as singletone

[2018-08-06 18:36] ipjohnson commented on #183
I can look at doing this for 6.4.1 this coming weekend

[2018-08-06 18:42] ipjohnson commented on #184
Hi @mcdis

I’ll see if I can find a test that shows something like this. Ultimately what I think you want to do is use the ‘UsingLifestyle’ method.

It takes a ‘Func<Type,ICompiledLifestyle>’ that will let you pick lifestyle based on the type being exported. Here you can put your logic to decide what should or shouldn’t be a singleton

[2018-08-06 22:12] mcdis commented on #184
Can you show example of using `UsingLifestyle`?

[2018-08-07 02:10] ipjohnson commented on #184
@mcdis I added a test showing how to use UsingLifestyle but I also remembered you could also use an IActivationStrategyInspector that would act on all exports.

[code]

[2018-08-07 08:58] mcdis commented on #184
Thank you!
Can I control lifetime strategy for not exported types?
example:
[code]

So, I've got module like system and need to resolve some processors but I want to skip export phase because I know that every resolvable type which implement IFoo must to be singletone. Looks like I've to add some custom strategy...

In my case IFoo implementators can locate in different assemblies and from case to

[2018-08-07 12:09] ipjohnson commented on #184
I’ll take a look later today as the inspectors should be run against all exports even non explicitly exported types.

[2018-08-07 12:56] ipjohnson commented on #184
@mcdis I've added a new unit test [here](https://github.com/ipjohnson/Grace/commit/dfe9be3d3678e11556a1cd25ca62291b671d4db5) to show that interceptors are run against non exported types.

Can you provide an example app where it's not working?

[2018-08-07 12:57] ipjohnson commented on #182
@shahabganji I installed RabbitMQ last night but I'm still having connection issues. Is there something more I need to do?

[2018-08-07 13:00] ipjohnson commented on #180
@shmutalov I got some time last night to look at your tests some more. The two tests that are failing are most definitely failing because of

[code]

The solution I'm purposing doesn't support doing registration in the ConfigureRequestContainer method.

So I think the bootstrapper is working correctly. That said I think it's probably better to inherit from the regular bootstrapper instead of the p

[2018-08-07 14:01] mcdis commented on #184
[code]

[2018-08-07 14:02] mcdis commented on #184
Works only with inspector in root scope. Doesn't work when use nested scopes

[2018-08-07 14:18] ipjohnson commented on #184
@mcdis the reason for that is that missing strategies are registered in the root container not the child container where you’ve installed an inspector. While it doesn’t work the way you’d like it to it’s working correctly.

[2018-08-07 18:31] mcdis commented on #184
Can I intercept missing types and do registration on the child scope level?

[2018-08-08 11:18] mcdis commented on #184
@ipjohnson holy interface, that's works!
AddMissingExportStrategyProvider + Inspector, yeah!

[2018-08-08 13:53] #184 closed

[2018-08-08 15:57] eglauko opened #185 "ILocatorService.Locate using 'withKey' doesn't work for wrapped types."
I have a class named OptionalWrapperStrategy (for Optional<T>) extending BaseWrapperStrategy, and implementing IMissingExportStrategyProvider, IMissingDependencyExpressionProvider.

I can inject Optional<T> with keys in properties, construtor parameters, and methods parameters.

If i try locate Optional<T> using ILocatorService.Locate works fine, but if i try use 'withKey' an exception is thrown,

[2018-08-08 16:28] ipjohnson commented on #185
Could you include your optional wrapper implementation and I can take a look this evening?

[2018-08-08 17:50] eglauko commented on #185
[Optional.zip](https://github.com/ipjohnson/Grace/files/2271304/Optional.zip)

[2018-08-09 11:55] eglauko opened #186 "Problem with keyed service using SingletonPerScope and IsRequired = false"
When I need different implementations of the same interface, I use qualifiers, AsKeyed, when I configure the services.
If I have a class with a property to be injected with a key, and not required, no error occurs and the property value will be null. Is this right.

Take a look in my test, there is no service for 'gama' key.

[code]
This test passes.
But if I change the lifestyle of one of the ser

[2018-08-09 12:13] ipjohnson commented on #186
@eglauko That's not correct but I believe I know why it happens. There is a short cut when it comes to SingletonPerScope which must not be taking into account keyed resolution. I'll look at fixing it this weekend.

[2018-08-09 12:17] ipjohnson commented on #185
I've been able to replicate this problem in my environment so I can fix it. The one thing I will say is that this resolution won't be fast. Grace only caches delegates for non keyed exports, which wouldn't be a problem because it would be cached at the export itself but it's a wrapped/keyed export which won't be cached.

I can fix the problem for version 6.4.1 but I won't be fast. I think caching

[2018-08-09 15:55] eglauko commented on #185
Let me ask something: The IMissingDependencyExpressionProvider is used when i call the locate method?

My wrapper implements also the IMissingDependencyExpressionProvider, and I'm configuring this way:

[code]
I realized that the IMissingDependencyExpressionProvider methods were not called from locate. Maybe using this strategy would solve the problem.

[2018-08-10 07:46] shahabganji commented on #182
@ipjohnson Have you changed [these](https://github.com/shahabganji/ShoppingCartSample/blob/master/ShoppingCartService/appsettings.json#L5-L8) parts in the ```appsettings.json``` file to match your machine?

```Port``` and ```Virtual Host ``` are set to the default values, I think you only need to change the ```Hostnames``` to ```localhost``` or the ```IP``` address of your machine, on which you in

[2018-08-11 13:54] ipjohnson commented on #185
@eglauko you are correct the `IMissingDependencyExpressionProvider` methods weren't being called because you were registering it as a strategy all that said I think you've stumbled on a bug that is going to be hard to fix without making a change to the `IWrapperOrExportActivationStrategy` interface.

After doing some digging the problem is going to affect all Wrapped/Keyed Locate requests. Essenti

[2018-08-11 13:57] ipjohnson commented on #186
OK I've addressed this issue. It turned out to be the dependency was being pulled accidentally from the injection scope as a last ditch effort to find something that matched.  I've since tightened up the code a little bit and the test now passes.

[2018-08-13 08:56] mcdis opened #188 "ConstructorSelectionMethod.Dynamic and IDisposable object locate bug"
[code]
[code]

[2018-08-14 09:40] shahabganji commented on #182
Hi @ipjohnson,

Any success? Have you installed it on your local machine or on docker?

[2018-08-14 11:42] scovel commented on #181
The RC is working perfectly.  Looking forward to the official release.  Thanks for your hard work and quick response.

Sean

From: Ian Johnson <notifications@github.com>
Reply-To: ipjohnson/Grace <reply@reply.github.com>
Date: Monday, August 6, 2018 at 11:55 AM
To: ipjohnson/Grace <Grace@noreply.github.com>
Cc: Sean Covel <SCOVEL@travelers.com>, Mention <mention@noreply.github.com>
Subject: Re: [i

[2018-08-14 11:50] mgth commented on #178
Sorry for the loonng delay.
I ended up by sorting the export order and woks ok for me.
I already used ExportAttributedTypes(), but exports in the container are all zero priority.

[2018-08-15 02:50] ipjohnson commented on #182
@shahabganji so I'm able to run the example app and call the product api with and without Grace. What error should I be looking for?

[2018-08-15 03:35] ipjohnson commented on #185
@eglauko I think this solution will work for the moment and for 7 I'll remove the interface and add the object key parameter to `IWrapperOrExportActivationStrategy`

[2018-08-15 04:35] shahabganji commented on #182
Hi @ipjohnson

Firstly, I should mention that there is **no error**, there is a **misbehavior** of the library( at least I guess so :see_no_evil:  )

When using default IOC and posting to the api, e.g. ```/api/shopping-cart/1?products=1&products=2```

you should have some logs like
[code]
however, when using Grace as IOC and posting to the same API, this will be found in the logs
[code]

the latte

[2018-08-15 11:34] eglauko commented on #185
Yes, I understood what you wanted to do and I created a solution to solve this problem without creating any impact on the current version.

I thought you could create another cache in the BaseExportLocatorScope class, similar to the ActivationDelegates cache, for delegates with type and key. And in the locate method of the InjectionScope class you could create and search for these keyed delegates.

[2018-08-15 12:33] ipjohnson commented on #182
@shahabganji when I run the solution and hit that url I actually don't get the logging output you mention there isn't anything about raw rabbit mq. The output below is just running it with out grace

[code]

[2018-08-15 12:54] shahabganji commented on #182
Sorry my bad, the url I mentioned above is an HTTP POST.

[2018-08-15 16:01] eglauko commented on #185
Could you release a preview version with this PR?

[2018-08-15 16:39] ipjohnson commented on #185
I can do that this evening.

[2018-08-15 20:58] mcdis commented on #188
Yeah! Ready...Steady...Go!
Waiting for [minor] release

[2018-08-15 20:58] #188 closed

[2018-08-15 21:27] ipjohnson commented on #188
I’m planning on doing a preview release this evening

[2018-08-16 03:16] ipjohnson commented on #182
@shahabganji ok I was able to get messages published by turning off the auto registration of unknown types.

Program.cs
[code]

Startup.cs
[code]

[2018-08-16 03:21] ipjohnson opened #190 "make methods virtual for ConcreteExportStrategyProvider"
mark methods as virtual as well as change the signature of `ShouldCreateConcreteStrategy` to take request instead of type

[2018-08-16 03:24] #190 closed, assigned to nobody

[2018-08-16 03:57] ipjohnson commented on #181
@scovel sorry had to publish another preview for another issue. I'm shooting for middle of next week for an official release.

[2018-08-16 03:58] ipjohnson commented on #178
cool. I'm going to go ahead and close this

[2018-08-16 03:58] #178 closed

[2018-08-18 04:15] #182 closed

[2018-08-19 06:04] shahabganji commented on #182
That's what I expected from external containers, however, I expect that by turning off the ```AutoRegisterUnknown``` property and moving the registration of services to ```ConfigureContainer```, the application still work. but to my surprise it doesn't !!!

One more thing, how could we find out that which dependency causes the problem? Is there any flag or log that reveals such information?

[2018-08-19 13:47] ipjohnson commented on #182
@shahabganji you'd have to ask the raw rabbit folks what specifically didn't work in raw rabbit, from my perspective Grace functioned properly as it resolved all dependencies without exceptions.

I look at a container as something you use to construct your application. Not all containers function the same. I've made Grace a container that can be configured for many different scenarios. In this cas

[2018-08-19 19:31] shahabganji commented on #182
@ipjohnson Thanks for your time.

[2018-08-20 02:39] ipjohnson commented on #182
@shahabganji glad it worked it out. To answer your question of is there a log for Grace. There isn't a regular log but there is a Trace function that you can attach to and it will call during construction of the activation delegate.

[2018-08-20 04:03] shahabganji commented on #182
@ipjohnson Good to know about that  :+1:

[2018-08-24 02:53] #181 closed

[2018-08-24 02:58] #186 closed

[2018-08-24 02:59] #185 closed

[2018-08-24 02:59] ipjohnson commented on #185
I'm pushing out a release this evening for this. Glad it worked out

[2018-08-24 03:01] ipjohnson commented on #180
I've released the defered singleton lifestyle as part of 6.4.1. I'm marking this as a question now as it's a question now for Nancy integration

[2018-08-24 03:02] ipjohnson commented on #157
@stephenlautier any more issue or can I close this out?

[2018-08-26 10:46] stephenlautier commented on #157
@ipjohnson so far its working great, you can close it. Thanks for your help! 👍

[2018-08-26 10:46] #157 closed

[2018-08-30 20:58] mgth opened #192 "ExportDecorator with When.InjectedInto won't fire"
If i do not put the condition Decorator is applied, but when When.InjectedInto is used the decorator is never applied.
I'm using a Func<param, IService> in the constructor.
Doing this with standard export works as expected but not with decorator.

[2018-09-02 12:32] ipjohnson commented on #192
@mgth I've released a pre-release version to nuget. Can you test it out?

[2018-09-02 19:30] mgth commented on #192
Sorry, it still fail for me. But this is special case where I must use Container.Inject(obj);
Another thing is the decorator itself does not get injected.

[2018-09-02 20:38] ipjohnson commented on #192
@mgth you’ll need to put together a sample showing the issue.

[2018-09-03 07:52] mgth commented on #192
[code]

when this will return a MyServiceDecorator as expected
`var myClass = (MyClass)container.Locate<IMyClass>();`

[2018-09-03 15:28] ipjohnson commented on #192
@mgth the reason it's not work the way you want it to is because the `Inject` method is an extension and isn't a first class feature in the container. No strategy is created for an injected type so the default implementation for WhenInjectedInto won't work.

I'm not inclined to make a change to the default behavior because it could have unintended side effects but you could do a custom condition l

[2018-09-03 16:50] mgth commented on #192
Ok, that works. Thank you much for your precious time.

[2018-09-07 04:19] davidkeaveny commented on #155
Sorry, yes this can be closed.

[2018-09-07 04:19] #155 closed

[2018-09-08 13:49] mcdis opened #193 "Add ExportAsKeyed extension"
We are already have **ExportAs** extension.
Add **ExportAsKeyed** extension:
`static IFluentExportStrategyResgistration<TImpl> ExportAsKeyed<TImpl,T>(this IExportRegistrationBlock _this, object key);`
shorten equalent of
`Export<TImpl>().AsKeyed<T>(key);`

[2018-09-09 14:10] ipjohnson commented on #193
Hi @mcdis

I think I can add that, I’ll try and find some time in the coming week to add it and do a beta.

[2018-09-14 03:47] ipjohnson commented on #193
@mcdis, I pushed out a beta with this change

[2018-09-17 19:06] scovel opened #194 "Question...How do I do this?"
I'm trying to port some code from Unity.  (SolrNet container integration)

Here's the syntax..
[code]
Another:
[code]
The point seems to be to create a named (keyed?) registrations.

You get this instances like this:
[code]

How would you do this in Grace?

[2018-09-17 19:55] ipjohnson commented on #194
Hi @scovel,

I’ll find some examples tonight showing how to do this. Essentially it’s just adding a couple WithCtorParam configurations to the Export call.

[2018-09-18 03:14] ipjohnson commented on #194
I realized there was no method to register what you wanted to do so I added a new method and will do a nuget pre-release for it.

Case 1:
[code]

Case 2:
[code]

[2018-09-19 16:56] scovel commented on #194
That is working!!!

I owe you so many beers....

So, follow-up question.  I need to set an injection property at the same time.  Unity was using InjectionProperty.  I looked at ImportMembers but couldn't figure out how to set a specific value.

```.ImportMembers(MembersThat.AreNamed("HttpWebRequestFactory"))```

Looking at the property in the library there is no specific injection attributes on it

[2018-09-19 17:03] scovel commented on #194
That is working!!!

I owe you so many beers....

So, follow-up question.  I need to set an injection property at the same time.  Unity was using InjectionProperty.  I looked at ImportMembers but couldn't figure out how to set a specific value.

```.ImportMembers(MembersThat.AreNamed("HttpWebRequestFactory"))```

Looking at the property in the library there is no specific injection attributes on it

[2018-09-19 17:19] ipjohnson commented on #194
@scovel, I think is probably another case of the container can do it but the registration method is missing for non generic.

I can add it but I may not be able to get to it till this weekend because of family obligations.

[2018-09-20 18:54] scovel commented on #194
Sounds good.  I finished up the rest of the port and didn't find anything else I need.  Let me know when you want me to test.

Have a good weekend.

[2018-09-22 16:35] ipjohnson commented on #194
Ok I've pushed out a beta to nuget with the new ImportProperty method.

[2018-09-24 14:54] scovel commented on #194
The beta is working great!  Thanks for your efforts again.

[2018-09-24 15:46] ipjohnson commented on #194
Very cool, in 2-3 weeks I’ll plan to do an official release.

[2018-09-26 13:48] scovel commented on #180
Is DeferredSingletonLifestyle in the recent Beta?  I have a need for it and it seems like it's not there.

[2018-09-26 15:10] ipjohnson commented on #180
Hi scovel

It is but it’s not the default Singleton you have to add it by hand ‘Using(new DeferredSingletonLifestyle())’

I’ll send you an example this evening

[2018-09-26 22:10] scovel commented on #180
Turns out Singleton worked just fine.  I was worried it would create the instance immediately, but it doesn't.

[2018-10-11 19:33] scovel commented on #194
How's it going with the official release?  We have a release coming up in a week or so and I'd like to change my Grace package from Beta before that happens.

Thanks,

Sean

[2018-10-11 23:16] ipjohnson commented on #194
I’ll do an official release this weekend.

[2018-10-13 20:29] ipjohnson commented on #193
closing as released in 6.4.2

[2018-10-13 20:29] #193 closed

[2018-10-13 20:30] ipjohnson commented on #194
marking as closed in release 6.4.2

[2018-10-13 20:30] #194 closed

[2018-11-03 23:46] mcdis opened #196 "Q: What are advantages of Deferred Lifestyle?"

[2018-11-04 13:43] ipjohnson commented on #196
Hi @mcdis

The deferred singleton lifestyle is only useful when you're having issues with circular dependencies. Essentially when using the normal singleton lifestyle the instance is created during the construction of the compiled linq expression for maximum performance. The deferred singleton doesn't construct the instance until the very end after the linq expression has been constructed and comp

[2018-11-05 08:46] dadhi commented on #196
@mcdis Sorry for intruding. I would imagine the case, when the whole graph is failing for some reason, without deferred lifestyle you may still get singletons created. Which maybe not what you'd expect.

[2018-11-05 12:05] ipjohnson commented on #196
@dadhi touches on an interesting side affect because the Singleton is created during the expression creation it can have an interesting side effect in case of failure or even trying to understand the order of creation.

[2018-11-09 15:57] ipjohnson commented on #196
@mcdis can I close this out?

[2018-11-13 15:14] #196 closed

[2018-11-20 12:05] mcdis opened #197 "Safe Property dependency injection"
Can (or how) I use safe readonly property injection?
I want to inject dependency to private/protected get only auto property .
How to do it?

[2018-11-20 12:09] mcdis opened #198 "Safe property injection (auto readonly) before constuctor called"
Hi!
I suggest to make that scenario:
Inject auto prop get only before constructor called.
I didn't look in deep in code, but if you use create uninitialized object then you can inject properties before constructor and make prop injection in safe way.
Sometime It's not friendly to drag all dependencies over constructor...for example when I've some hierarchy

[2018-11-21 13:20] ipjohnson commented on #197
I'm marking this as a duplicate of issue #198

[2018-11-21 13:20] #197 closed

[2018-11-21 15:07] ipjohnson commented on #198
Hi @mcdis

I've added an example of how you could auto inject auto properties, but they are injected after the constructor is called. Grace uses linq expressions to build object graphs and there isn't really a new but uninitialized.

[2018-11-23 18:46] mgth opened #199 "Use target type as generic parameter"
Hello,

I need something like :

Export<Generic<>>().As<ISomethingNotGeneric>().Where(generic parameter is "InjectedInto" object type)

Is there any existing way to do this ?
Thank you.

[2018-11-30 23:16] mcdis opened #200 "Question: How to enumerate all keys of the interface registration?"
Hi!
Need to enumeration all keys of the interface available from the scope
Best regards

[2018-12-02 12:42] ipjohnson commented on #199
Hi @mgth

Sorry for the late response.  It's not really possible without writing some code. If IGenericService had a T it could be resolved.

I think this is an interesting feature. I'll start looking at adding support.

[2018-12-02 13:06] ipjohnson commented on #200
Hi @mcdis

the container has the property `StrategyCollectionContainer`

[code]

[2018-12-14 23:52] ipjohnson commented on #200
@mcdis I'm going to close this out

[2018-12-14 23:52] #200 closed

[2018-12-14 23:57] ipjohnson opened #201 "struct parameter default throw an exception"
When a constructor parameter is a struct with a default parameter such as `DateTime date = new DateTime()` throws an exception.

[2018-12-15 20:19] ipjohnson commented on #201
This is complete

[2018-12-15 20:19] #201 closed

[2019-01-22 13:50] SuperJMN opened #202 "How to solve this scenario? Mixed locate strategy"
I have an object like this

[code]
**Given:** A dependency `ISomeService` that can be resolved (it's registrated withing the container) and `a, b` that ARE NOT registrated,
**When:** `container.Locate<MyObject>()` is called
**Then:** I would like Grace to ask me to resolve `a` and `b` myself.

In other words, I want that the container resolves as much as it could, but ask me for the values he coul

[2019-01-22 16:18] ipjohnson commented on #202
Hi @SuperJMN ,

Yes you should be able to call `container.Locate<MyObject>(new { a = "someString", b = "otherString"} );`

You can also have some other options if you don't want to pass in a,b while calling Locate.

[2019-01-22 16:23] SuperJMN commented on #202
Great! can you just provide the strings ordinally? I mean, a = 1st, b = 2nd

[2019-01-22 17:38] ipjohnson commented on #202
At this point it does not support it that way. You can unnamed parameters but it’s just going to match the first on.

Is this something you need? Because I think it would be possible to write some custom code to support it. Though I do worry about how brittle things become when you’re calling constructors based on ordinal position

[2019-01-22 17:45] SuperJMN commented on #202
Oh, no problem. I have created an abstraction to do the job.

I've created an little interpreter that executes things from a script. Each action can have very simple parameters, that are basically strings and ints.

The actions declare the dependencies in the ctor. There may be string and int dependencies, for example, for a Copy a to b action

[code]

The interpreter takes the name of each action

[2019-01-22 17:45] #202 closed

[2019-01-23 12:42] ipjohnson commented on #202
@SuperJMN very good to see you. Drop me a line to say hi and we can catch up.

[2019-02-08 12:16] silkfire opened #203 "Method not found in Grace.Net"
@ipjohnson I've downloaded the Grace.Net package as I wanted to use the `Types.FromThisAssembly()` method, but it throws an exception:

![image](https://user-images.githubusercontent.com/1554615/52477868-bbaf4400-2ba3-11e9-959c-93aac3b05e4d.png)

Could this have to do with that the package is incompatible with .NET Core?

[2019-02-08 16:13] SuperJMN commented on #203
It's not there. It's probably removed or renamed.

@ipjohnson BTW, I wrote you a e-mail message. Is your old Yahoo account alive? :)

[2019-02-11 15:12] silkfire opened #204 "Exception with open generics"
I'm trying to export a class accordingly:

[code]

But am getting the following exception:

![image](https://user-images.githubusercontent.com/1554615/52572126-624f4b00-2e17-11e9-8ae9-d160c06bfa64.png)

I'm not sure how to solve this...

[2019-02-11 15:17] ipjohnson commented on #204
You can’t locate an open generic, you must have a closed generic i.e ‘<T,T2>’

[2019-02-11 15:19] silkfire commented on #204
But I know that Grace automatically resolves open generic in other parts of my code, how come not here?

[2019-02-11 15:28] ipjohnson commented on #204
You can register open generics but when Grace goes to resolve it it’s been closed by being a dependcy.

What’s the type you expect IShipmentRepository to be closed as?

[2019-02-11 15:31] silkfire commented on #204
For example, this code works just as expected (with `Locate` of open generic):

`c.ExportFactory(() => new SqlShipmentService(scope.Locate(typeof(IShipmentRepository<,>),  withKey:  "sql") as ShipmentRepository)).As<IShipmentService>().Lifestyle.Singleton();`

The code I showed in the original post is very similar but gives an exception.

[2019-02-11 15:54] silkfire commented on #204
It seems as if the "json" keyed registration gives me the exception, but not "sql". Strange...

[2019-02-11 15:55] ipjohnson commented on #204
I guess if you register a closed implementation it could work because you aren’t relying on the container to close it.

That said I’ve never used the container for that purpose.

Can you put together a small sample of what’s not working and I’ll debug it. The stack looks like the expression compiler is complaining about generic parameters so I’m guessing it has to do with the open aspect.

[2019-02-11 16:56] silkfire commented on #204
I was able to reproduce it. It seems to occur when the constructor of the class to be located has parameters that are of primitive type. The "sql" registration only requires an `IDbConnection` which it is able to resolve with no issues, whereas the "json" one requires a string.

Try this:

**App.cs**

[code]

**DummyService.cs**

[code]

**IDummyService.cs**

[code]

**Dummy.cs**

[code]

The exce

[2019-02-11 17:23] silkfire commented on #204
@ipjohnson Apparently it's not an issue with the arguments, I think it's actually the `ExportFactory` method itself. Using `Export` works fine but is not an option in my specific case.

By the way, when it comes to `WithCtorParam()`, let's say I've got two string parameters, how do I set a specific value to each of them? Right now I can't select a parameter by name.

[2019-02-11 17:54] ipjohnson commented on #204
It has to do with the way ExportFactory is trying to add a check for null being returned. Essentially it takes your code and wraps it in a null check but it’s trying to use the export type as a generic parameter to the null check method.

I’m not sure I follow the question about constructor parameter. There should be a Named option, is there not one?

[2019-02-11 18:28] silkfire commented on #204
Okay, is there any way this can be solved?

There is `.WithNamedCtorValue()` but its purpose seems a bit unclear to me. Is it to retrieve a property from the class to be resolved? Anyhow it doesn't seem to suit my needs.

[2019-02-11 19:29] ipjohnson commented on #204
I’ll see if I can find some time this evening to take a look.

Does your generic interface have a base interface you could register by instead of the open generic?

[2019-02-11 20:56] silkfire commented on #204
Thanks, really appreciate it. No, unfortunately that's the only interface my services inherit.

[2019-02-11 21:00] ipjohnson commented on #204
What does your registration look like for Shipment? I assume you have multiple that has AsKey?

[2019-02-11 21:08] silkfire commented on #204
You mean the ShipmentService?

It looks like this:

`c.ExportFactory(() => new JsonShipmentService(scope.Locate(typeof(IShipmentRepository<,>), withKey: "json") as Data.Json.Repositories.ShipmentRepository)).As<IShipmentService>().Lifestyle.Singleton();`

But does it really matter? The example I posted should suffice to reproduce the exception.

[2019-02-11 21:59] ipjohnson commented on #204
I was curious what the difference was between the json registration and the sql registration.

I understand why it’s happening and honestly it’s working as designed. I’m looking to see if you could possibly change the way you are registering/locating to not have open generics.

[2019-02-11 22:22] silkfire commented on #204
The difference is that the JSON registration uses `ExportFactory` because I need to provide it an argument whereas the SQL one doesn't need that.

I'd really like to use the open generics. It's as if it's working, but only half way. Is it hard to make the method support this?

[2019-02-11 22:24] silkfire commented on #204
I really like Grace as it is very extensive but also very easy to use and fast. So if I could get this to work then Grace will definitely be my go-to DI framework. I recently switched from StructureMap as the author stopped developing it to its replacement Lamar, but I found that framework very slow and buggy, so I had to look for another library.

[2019-02-11 22:45] ipjohnson commented on #204
One way or another I’m sure we can get this squared away. I was more just trying to get the lay of the land because usually when you register an open generic you then locate with a closed type.

Is your json service a generic implementation or closed implementation?

[2019-02-12 01:47] ipjohnson commented on #204
So playing around with the example you gave me I can get the open generic locate to work if I change the way to export from ExportFactory to Export

[code]

The WithCtorParam method takes a function used to specify the value ("dummy") and you can specify the name of the parameter with Named("parameterName").

[2019-02-12 10:35] silkfire commented on #204
Thanks so much for the solution. I was looking for something like that but wasn't quite able to find it. Perhaps you should add that to the documentation, about `Named` parameters.

Why is the `ExportFactory` method different from `Export` when it comes to open generics? Perhaps you should prevent the Fluent Interface to use Type in this case? Or give the user a more meaningful error :)

The JSON

[2019-02-12 10:52] silkfire commented on #204
By the way, would you mind replying to this issue: _Method not found in Grace.Net_ https://github.com/ipjohnson/Grace/issues/203?

[2019-02-12 11:19] ipjohnson commented on #203
Hi guys, Grace.Net was there just to do some assembly scanning for .net. When I re-wrote Grace for .net standard it some of the features weren't supported so I didn't continue to develop it.

Now that .net standard 2.0 support the features it was missing I could bring it back but there really wasn't much there other than scanning the currently loaded assemblies for exports.

@SuperJMN my email is

[2019-02-12 11:31] ipjohnson commented on #204
@silkfire there are many things that I could do or maybe should do but alas I don't have much time these days between work life and having a little one to care for.

The reason ExportFactory works differently is because it's designed to take a function that creates a known export. An open generic is as it's name implies open and can construct and infinite number of types. Technically speaking I co

[2019-02-12 11:48] silkfire commented on #204
Unfortunately I didn't get it to work and as of right now I'm not able to reproduce it with the dummy services.

Here's the registration:

[code]

And the error is now (very similar to the previous one):

![image](https://user-images.githubusercontent.com/1554615/52633338-51104800-2ec4-11e9-96f5-7667efe980aa.png)

[2019-02-12 12:01] #203 closed

[2019-02-12 12:06] silkfire commented on #204
I removed `.Lifestyle.SingletonPerRequest()` and now it works! How strange. But I would like to use that Lifestyle if possible. Am I missing something?

[2019-02-12 12:55] ipjohnson commented on #204
I can kinda get it to work by changing the configuration to

[code]

That said I keep coming back to the fact that registering a closed implementation by an open interface, then locating by an open interface is not the right way to do this.

Normally when you register something with an open interface the type being export is an open type definition. What you're doing is registering a closed implem

[2019-02-12 14:00] silkfire commented on #204
Okay, I assume I have to try that out then. I'm just a bit surprised that it actually works with the way Export is implemented now. You don't get an exception with `var dummyService = container.Locate(typeof(IDummyService<>), withKey: "dummy");`, so the behaviour isn't forbidden according to Grace.

[2019-02-12 14:12] ipjohnson commented on #204
This is actually something I should tighten up on the fluent registration and throw an exception on registration.

This evening I’ll open a defect and look to make it obvious upfront what the error is. The exception that’s being thrown currently is from dotnet because it’s trying to compile a function with an open interface.

I was actually surprised it worked as well but since the type isn’t tryi

[2019-02-12 14:21] silkfire commented on #204
If you wonder where my way of thinking comes from... I've been working a lot with StructureMap previously and in that library they have something like this:

![image](https://user-images.githubusercontent.com/1554615/52641642-9c812100-2ed9-11e9-8e7b-46767a5a7841.png)

http://structuremap.github.io/generics/

Basically the DI container automatically closes the open type for you. It seems I was part

[2019-02-12 15:32] ipjohnson commented on #204
@silkfire Grace support's open generic's exactly like that example. What Grace doesn't support and StructureMap is also not going to support is exporting a closed implementation as an open interface.

[code]

If you had registered your sql service as open generic and then registered your json service as a closed implementation it would override it just like the example you showed.

[2019-02-12 16:51] silkfire commented on #204
@ipjohnson Thanks, I think I understand the difference now. I've updated my registrations as per your advice and things work very nicely now.

[2019-02-12 19:09] ipjohnson commented on #204
Oh very good! Glad it all worked out. If you have any other questions submit an issue.

I’ll create a work item for myself to throw a better exception on registration to avoid this problem in the future.

[2019-03-02 22:04] #198 closed

[2019-03-02 22:25] mcdis opened #205 "Autoexport all types by interface by specific key"
Hi!

Can you help me with this scenario...
I want to scan all types in specific assembly and export all types which impl specific interface...but I want to export by key which defined thru attribute. And I want to export with the specific lifestyle.

[code]
Some optimize and degree of freedom requirements:
 - export types only from specific assembly;
 - key provider delegate: `string ResolveKey(Ty

[2019-03-02 22:42] mcdis commented on #205
Can(How) I use interface IExportKeyedTypeAttribute?

[2019-03-02 22:58] mcdis commented on #205
Tried this code and look like it works...
[code]

[2019-03-03 11:19] ipjohnson commented on #205
Hi @mcdis

I’ve been away for the weekend but I’ll take a look this evening and put something together.

[2019-03-04 10:23] mcdis commented on #205
I feel that there are some excessive descriptions.
I think that add ability to provide key provider factory method during export is good choice.
And we can combine type that identify assembly with export type.
For example, if I want to export all `IFoo` impl in the same assembly I can simple write:
`_.ExportAssembly<IFoo>().ByKey( KeyFactoryMethod).Lifestyle.Singleton()`

if I `IFoo` is declarated

[2019-03-04 12:48] ipjohnson commented on #205
Hi @mcdis

I hesitate to add an `ExportAssemblyContaining<T, T2, T3>()` , I'd be open to something like `ExportAssmbliesContaining(params Type[] types)` that way there is only one new extension to cover all cases.

There is already a `ByKeyedTypes` method that lets you export a set by keyed types. I think an extension method like this would be what you want.

[code]

[2019-03-05 09:25] mcdis commented on #205
Hi @ipjohnson,
That extension looks good!

[2019-03-07 14:12] ipjohnson commented on #205
I'll look at putting this into a preview release in the next week. Did you want the extension `ExportAssmbliesContaining(typeof(ClassA), typeof(ClassB))`?

[2019-03-16 08:27] shahabganji opened #206 "Support ASP.NET Core 3.0"
I am planning to move to asp.net core 3.0, but I got an error message which sounds to be due to breaking changes in asp.net core 3.0.

[code]

`Startup.cs` file:
[code]

`Program.cs` file:

[code]

Any changes I need to make, or should wait until final version of 3.0?

[2019-03-16 11:41] ipjohnson commented on #206
Hmmm that’s no good. I’ll see if I can address it this weekend.

[2019-03-16 18:42] ipjohnson commented on #206
@shahabganji I had forgotten there are some changes I need to do for Asp.Net Core 3.0. So good news is I was able to put together a quick example to prove it works. The down side is it's going to take me a week or two to implement this and the other changes needed to fully support 3.0.

If you can wait a week or two for Grace 7.0-beta to be released I'd hold off. If you want to try out the extensi

[2019-03-16 18:56] ipjohnson opened #207 "IExportLocatorService inherit IServiceProvider"
For .netstandard 2.0 and .net 4.5 the container implement IServiceProvider